{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}
{%- assign template = template | split: '.' | first -%}


{% unless template == 'index' %}
<nav class="breadcrumb main-nav-breadcrumb-1 lazyload " role="navigation" aria-label="breadcrumbs">
    <div class="{{settings.layout_bread}}">
      {% if template == 'product' and settings.show_prduct and settings.show_breadcrumb %} <div class="breadcrub-flex">{% endif %}
  
        {% if settings.show_breadcrumb %}
          <div class="breadcrumb-wrapper {{settings.align_bread}}">
            <a class="main-bread-title" href="/" title="Home">{{ 'products.product.quantity.home' | t }}</a>
            {% if template contains 'page' %}
            <span aria-hidden="true">/</span>
            <span>{{ page.title }}</span>
            {% elsif template contains 'product' %}
            {% if collection.url %}
            <span aria-hidden="true">/</span>
            {{ collection.title | link_to: collection.url }}
            {% endif %}
            <span aria-hidden="true">/</span>
            <span>{{ product.title }}</span>
            {% elsif template contains 'collection' and collection.handle %}
            <span aria-hidden="true">/</span>
            {% if current_tags %}
            {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
            {{ collection.title | link_to: url }}
            <span aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
            {% else %}
            <span>{{ collection.title }}</span>
            {% endif %}
            {% elsif template == 'blog' %}
            <span aria-hidden="true">/</span>
            {% if current_tags %}
            {{ blog.title | link_to: blog.url }}
            <span aria-hidden="true">/</span>
            <span>{{ current_tags | join: " + " }}</span>
            {% else %}
            <span>{{ blog.title }}</span>
            {% endif %}
            {% elsif template == 'article' %}
            <span aria-hidden="true">/</span>
            {{ blog.title | link_to: blog.url }}
            <span aria-hidden="true">/</span>
            <span>{{ article.title }}</span>
            {% else %}
            <span aria-hidden="true">/</span>
            <span>{{ page_title }}</span>
            {% endif %}
          </div>
        {% endif %}
      
        {% if template == 'product' and settings.show_prduct %}
          <div class="product-navigation product-card-wrapper">
            {% assign collection = collections[product.collections.first.handle] %}
            {% assign current_product_handle = product.handle %}
            
            {% assign previous_product = null %}
            {% assign next_product = null %}
            {% assign found_product = false %}
            
            {% for product in collection.products %}
              {% if found_product and next_product == null %}
                {% assign next_product = product %}
              {% endif %}
            
              {% if product.handle == current_product_handle %}
                {% assign found_product = true %}
                {% endif %}
            
              {% unless found_product %}
                {% assign previous_product = product %}
              {% endunless %}
            {% endfor %}
            {% if previous_product %}
              <div class="product-prev-button">
                <a href="{{ previous_product.url }}" class="prev-product" aria-label="{{ previous_product.title }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor"><path d="M4.83578 12L11.0429 18.2071L12.4571 16.7929L7.66421 12L12.4571 7.20712L11.0429 5.79291L4.83578 12ZM10.4857 12L16.6928 18.2071L18.107 16.7929L13.3141 12L18.107 7.20712L16.6928 5.79291L10.4857 12Z"></path></svg>
                <div class="product-popup-np">
                  <div class="product-image">
                    {{ previous_product.featured_image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'magniflier w-100' }}
                  </div>
                  <div class="product-detail">
                    <div class="card__heading h4">{{ previous_product.title }}</div>
                    {% render 'price', product: previous_product, price_class: '', show_compare_at_price: true %}
                   </div>
                </div>
              </a>
              </div>
            {% endif %}
            <div class="back-collection-button">
              <a href="{{ collection.url }}" class="back-product" aria-label="{{ collection.title }}">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.8019 7.43638H10.7669C9.27167 7.43638 8.54639 6.76644 8.54639 5.40422V2.03217C8.54639 0.669945 9.27167 0 10.7669 0H13.7684C15.2636 0 15.9889 0.669945 15.9889 2.03217V5.41539C15.9889 6.07416 15.8215 6.56546 15.4756 6.90043C15.1074 7.2689 14.5718 7.43638 13.8019 7.43638ZM10.7669 1.11657C9.77379 1.11657 9.66221 1.40688 9.66221 2.03217V5.40422C9.66221 6.04067 9.76263 6.31981 10.7669 6.31981H13.7684C14.2482 6.33098 14.5495 6.25282 14.6946 6.10766C14.8173 5.98484 14.8731 5.75036 14.8731 5.41539V2.03217C14.8731 1.40688 14.7615 1.11657 13.7684 1.11657H10.7669Z"></path>
                  <path d="M13.7794 16.0003H10.7779C9.28266 16.0003 8.55737 15.2745 8.55737 13.7783V10.7747C8.55737 9.27851 9.28266 8.55273 10.7779 8.55273H13.7794C15.2746 8.55273 15.9999 9.27851 15.9999 10.7747V13.7783C15.9999 15.2745 15.2746 16.0003 13.7794 16.0003ZM10.7779 9.66931C9.90751 9.66931 9.67319 9.89262 9.67319 10.7747V13.7783C9.67319 14.6492 9.89636 14.8837 10.7779 14.8837H13.7794C14.6498 14.8837 14.8841 14.6604 14.8841 13.7783V10.7747C14.8841 9.90379 14.6609 9.66931 13.7794 9.66931H10.7779Z"></path>
                  <path d="M5.25478 7.43638H2.21975C0.72455 7.43638 -0.000732422 6.76644 -0.000732422 5.40422V2.03217C-0.000732422 0.669945 0.72455 0 2.21975 0H5.2213C6.7165 0 7.44179 0.669945 7.44179 2.03217V5.41539C7.44179 6.07416 7.27441 6.56546 6.92851 6.90043C6.56029 7.2689 6.0247 7.43638 5.25478 7.43638ZM2.21975 1.11657C1.22667 1.11657 1.11509 1.40688 1.11509 2.03217V5.40422C1.11509 6.04067 1.21551 6.31981 2.21975 6.31981H5.2213C5.68995 6.33098 6.00238 6.25282 6.13628 6.10766C6.25902 5.98484 6.31481 5.75036 6.31481 5.41539V2.03217C6.31481 1.40688 6.20323 1.11657 5.21015 1.11657H2.21975Z"></path>
                  <path d="M5.2213 16.0003H2.21975C0.72455 16.0003 -0.000732422 15.2745 -0.000732422 13.7783V10.7747C-0.000732422 9.27851 0.72455 8.55273 2.21975 8.55273H5.2213C6.7165 8.55273 7.44179 9.27851 7.44179 10.7747V13.7783C7.44179 15.2745 6.7165 16.0003 5.2213 16.0003ZM2.21975 9.66931C1.34941 9.66931 1.11509 9.89262 1.11509 10.7747V13.7783C1.11509 14.6492 1.33825 14.8837 2.21975 14.8837H5.2213C6.09164 14.8837 6.32597 14.6604 6.32597 13.7783V10.7747C6.32597 9.90379 6.1028 9.66931 5.2213 9.66931H2.21975Z"></path>
                </svg>
              </a>
              <span class="product-popup-np"><a href="{{ collection.url }}" class="card__heading">Back to collection</a></span>
            </div>
            {% if next_product %}
              <div class="product-next-button">
                <a href="{{ next_product.url }}" class="next-product"  aria-label="{{ next_product.title }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor"><path d="M19.1642 12L12.9571 5.79291L11.5429 7.20712L16.3358 12L11.5429 16.7929L12.9571 18.2071L19.1642 12ZM13.5143 12L7.30722 5.79291L5.89301 7.20712L10.6859 12L5.89301 16.7929L7.30722 18.2071L13.5143 12Z"></path></svg>
                  <div class="product-popup-np">
                    <div class="product-image">
                      {{ next_product.featured_image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'magniflier w-100' }}
                    </div>
                    <div class="product-detail">
                      <div class="card__heading h4">{{ next_product.title }}</div>
                      {% render 'price', product: next_product, price_class: '', show_compare_at_price: true %}
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          </div>
        {% endif %}
        
      {% if template == 'product' and settings.show_prduct %} </div>{% endif %}
    </div>
</nav>


{% endunless %}


{% style %}
  .breadcrumb .product-popup-np{
    background-color: {{ settings.bg_color }};
    border: 1px solid {{ settings.border_color }};
  }
  .breadcrumb .product-navigation a svg,
  .breadcrumb .back-product svg path{
    transition: all 0.5s ease;
    fill: {{ settings.color_breadcrumbs_active }};
  }
  .breadcrumb .product-navigation a:hover svg,
  .breadcrumb .back-product:hover svg path{
    fill: {{ settings.color_breadcrumbs_hover }};
  }
  .breadcrumb .product-navigation .card__heading{
    color: {{ settings.page_title_text_color }};
  }
  .breadcrumb .product-navigation .card__heading:hover{
    color: {{ settings.theme_main_color }};
  }
  .breadcrumb .product-navigation .price--on-sale .price-item--regular {
    color: {{ settings.content_color }};
  }
  .breadcrumb .product-navigation .price--on-sale .price-item--last {
    color: {{ settings.theme_main_color }};
  }
  
  .main-nav-breadcrumb-1{
    color:{{ settings.color_breadcrumbs_active}} ;
    background: {{ settings.color_breadcrumbs_bg}} ;
  }
  .main-nav-breadcrumb-1 a{
    color:{{settings.color_breadcrumbs_active}};
    transition: all .5s ease;
  }
  .main-nav-breadcrumb-1 a:hover{
    color:{{settings.color_breadcrumbs_hover}};
  }
{% endstyle %}
