{% if linklists.gift-wrapping.links.size > 0 and
linklists.gift-wrapping.links.first.type == 'product_link' %}

<div id="is-a-gift" style="clear: left;" class="clearfix rte">
  <p class="gift_message">
    <input id="gift-wrapping" type="checkbox" name="attributes[gift-wrapping]" value="yes" {% if
      cart.attributes.gift-wrapping %} checked="checked" {% endif %} style="float: none" />
    <label for="gift-wrapping" style="display:inline; padding-left: 5px; float: none;">
      {{ 'sections.cart.want_wrap' | t }}
    </label>
  </p>
  <div class="submit_btn">
    <textarea name="attributes[gift-note]" placeholder="{{ 'sections.cart.gift_message' | t }}" id="gift-note">
      {{ cart.attributes.gift-note }}</textarea>
    <div class="apply-btn-wrapper">
      <button type="button" class="apply-giftwrap-code button theme_buttons">{{ 'customer.login_page.submit' | t }}</button>
    </div>
  </div>
</div>

{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id
%} {% assign gift_wraps_in_cart = 0 %} {% for item in cart.items %} {% if
item.id == id %} {% assign gift_wraps_in_cart = item.quantity %} {% endif %}
{% endfor %} {% assign items_in_cart = cart.item_count | minus:
gift_wraps_in_cart %}

{% style %}
  .submit_btn .apply-giftwrap-code{
    background: {{ settings.button_bg }};
    color: {{ settings.button_text }};
  }
  .submit_btn .apply-giftwrap-code:hover{
    background: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .gift-wrapping textarea#gift-note{
    background-color: {{ settings.input_bg_color }};
    color: {{ settings.input_text_color }};
    fill: {{ settings.input_text_color }};
    border: 1px solid {{ settings.input_border_color }};
  }
  .gift-wrapping textarea#gift-note::placeholder{
    color: {{ settings.input_text_color }};
  }
  .gift_message{
    color: {{settings.page_title_text_color}};
  }
  #updates_{{ id }} { display: none; }

{% endstyle %}

<script>

  Shopify.Cart = Shopify.Cart || {};

  Shopify.Cart.GiftWrap = {};

  Shopify.Cart.GiftWrap.set = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: {{ items_in_cart }} }, attributes: { 'gift-wrapping': true } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  Shopify.Cart.GiftWrap.remove = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 0 }, attributes: { 'gift-wrapping': '', 'gift-note': '' } })
    };
    fetch('/cart/update.js', request)
    .then(function() {
      location.href = '/cart';
    });
  }

  // If we have nothing but gift-wrap items in the cart.
  {% if cart.items.size == 1 and gift_wraps_in_cart > 0 %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.remove();
  });
  // If we don't have the right amount of gift-wrap items in the cart.
  {% elsif gift_wraps_in_cart > 0 and gift_wraps_in_cart != items_in_cart %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have a gift-wrap item in the cart but our gift-wrapping cart attribute has not been set.
  {% elsif gift_wraps_in_cart > 0 and cart.attributes.gift-wrapping == blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  // If we have no gift-wrap item in the cart but our gift-wrapping cart attribute has been set.
  {% elsif gift_wraps_in_cart == 0 and cart.attributes.gift-wrapping != blank  %}
  document.addEventListener("DOMContentLoaded", function(){
    Shopify.Cart.GiftWrap.set();
  });
  {% endif %}

  // When the gift-wrapping checkbox is checked or unchecked.
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelector('[name="attributes[gift-wrapping]"]').addEventListener("change", function(event) {
      if (event.target.checked) {
        Shopify.Cart.GiftWrap.set();
      } else {
        Shopify.Cart.GiftWrap.remove();
      }

    });

    document.querySelector('#gift-note').addEventListener("change", function(evt) {
      var note = evt.target.value;
      var headers = new Headers({ 'Content-Type': 'application/json' });

      var request = {
        method: 'POST',
        headers: headers,
        body: JSON.stringify({ attributes: { 'gift-note': note } })
      };

      fetch('/cart/update.js', request);
    });
  });
  document.addEventListener('DOMContentLoaded', function() {
    const textarea = document.getElementById('gift-note');
    textarea.value = textarea.value.trim();
  });

</script>

{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
  You attempted to add a gift-wrapping script to your shopping cart, but it
  won't work because you don't have a link list with handle
  <code>gift-wrapping</code> which, in turn, contains a link to your
  gift-wrapping product. Please review the steps outlined
  <a
    href="https://help.shopify.com/manual/online-store/themes/os/customize/add-gift-wrap-option"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >here</a
  >.
</p>

{% endif %}
<script>
const discountSubmitBtnnn = document.querySelector('.apply-giftwrap-code');

discountSubmitBtnnn.addEventListener('click', (event) => {
  event.preventDefault();

  // Adding the 'loading' class
  discountSubmitBtnnn.classList.add('loading');

  // Remove 'loading' class after 2 seconds
  setTimeout(() => {
    discountSubmitBtnnn.classList.remove('loading');
  }, 1000);
});


</script>