{{ 'popup-newsletter.css' | asset_url | stylesheet_tag }}
<section class="newsletter_popup close_popup" id="myModal">
  <div class="newsletter-overlay">
    <div class="modal-dialog">
      <div class="newsletter_popup_inner">
        <div class="modal-content clearfix">
          <button class="close close-icon" name="close" id="close" aria-label="Close">
            <span class="close-svg">
              {% render 'icon-close' %}
            </span>
          </button>
          {% if settings.image1 != blank %}
          <div class="media media--transparent ratio" style="--ratio-percent: 90%">
            {{ settings.image1 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
          </div>
          {% else %}
          <div class="media media--transparent ratio w-100" style="--ratio-percent: 90%">
            {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
          {% endif %}
          <div class="newsletter-left">
            <div class="newsletter-left_content">

              {% if settings.name_popup != blank %}
              <div class="h3 top_title">{{settings.name_popup}}</div>
              {% endif %}
              {% if settings.title_popup != blank %}
              <h2 class="newsletter-heading">{{settings.title_popup}}</h2>
              {% endif %}
              {% if settings.description_popup != blank %}
              <p class="newsletter-subtitle mb-0">{{settings.description_popup}}</p>
              {% endif %}
              <div id="subscribe-block">
                <div id="email-block">
                  <div class="form">
                    <div class="email-form">
                      {%- form 'customer', id: 'ContactFooter'-%}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="popup-newsletter-form">
                        <div class="field">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="email-input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            {% if form.errors %}
                              autofocus
                              aria-invalid="true"
                              aria-describedby="ContactFooter-error"
                            {% elsif form.posted_successfully? %}
                              aria-describedby="ContactFooter-success"
                            {% endif %}
                            placeholder="{{ 'newsletter.label' | t }}"
                            required
                          >
                          <button type="submit" class="submit-btn button theme_buttons" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                            {{ 'newsletter.button_label' | t }}
                          </button>
                        </div>
                        {%- if form.errors -%}
                          <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                        {%- endif -%}
                      </div>
                      {%- if form.posted_successfully? -%}
                        <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                      {%- endif -%}
                    {%- endform -%}
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="do-not-show-again  accept-cookie2" name="commit" id="Notshow">
                {{ settings.not_show }}
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var t = false;
    var n = document.querySelector(".close_popup");

    function setCookie(name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "expires=" + date.toGMTString();
        document.cookie = name + "=" + value + "; " + expires;
    }

    var e = (function(name) {
        var cookieName = name + "=";
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(cookieName) === 0) {
                return cookie.substring(cookieName.length, cookie.length);
            }
        }
        return "";
    })("dt_gdpr_name2");

    if (e !== "") {
        t = true;
    } else if (e !== null && e !== "") {
        setCookie("cookie_value", "cookie_value", 365);
    }

    if (t) {
        n.style.display = "none";
    }
  document.querySelector(".accept-cookie2").addEventListener("click", function() {
        setCookie("dt_gdpr_name2", "cookie_value", 365);
        n.style.display = "none";
    });

    document.querySelector(".close-icon").addEventListener("click", function() {
        setCookie("dt_gdpr_name2", "", -1);
        n.style.display = "none";
    });
    
});

</script>

{% style %}
  .newsletter_popup .newsletter-form__message{
    color: {{ settings.page_title_text_color }};
  }
  .newsletter_popup .modal-content{
    background: {{ settings.bg_newslatter }};
  }
  .top_title{
    color: {{ settings.subheading_newslatter }};
  }
  .newsletter-heading{
    color: {{ settings.heading_newslatter }};
  }
  .newsletter-subtitle{
    color: {{ settings.content_newslatter }};
  }
  .modal-content .close{
    background: {{ settings.button_bg }};
    color: {{ settings.button_text }};
  }
  .modal-content .close:hover{
    background: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .submit-btn{
    background: {{ settings.button_bg }};
    color: {{ settings.button_text }};
    fill: {{ settings.button_text }};
  }
  .submit-btn:hover{
    background: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
    fill: {{ settings.button_hr_text }};
  }
  .do-not-show-again{
    color: {{ settings.endbtn_text }};
  }
  .do-not-show-again:hover{
    color: {{ settings.endbtn_hr_text }};
  }
  .newsletter_popup .newsletter-left #email-block .email-input{
    background-color: {{ settings.input_bg_color }};
    color: {{ settings.input_text_color }};
  }
  .newsletter_popup .newsletter-left #email-block .email-input::placeholder{
    color: {{ settings.input_text_color }};
  }
{% endstyle %}