{{ 'about_inner.css' | asset_url | stylesheet_tag }}
<div class="second-inner-about-us-page">
  <div class="page-width">
    <div class="second-inner-about-us-page-wrapper">
      {% if section.settings.show_topimg %}
        <div class="second-inner-about-us-top-image">
          {% if section.settings.top-about-us-img != blank %}
          <div class="media media--transparent ratio" style="--ratio-percent: 30%">
            <img src="{{ section.settings.top-about-us-img | img_url: 'master' }}" alt="product-image" class="w-100" loading="lazy">
          </div>
          {% else %}
          <div class="media media--transparent ratio" style="--ratio-percent: 30%">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="second-inner-about-us-bottom-text">
        <p>{{ section.settings.about-us-content }}</p>
      </div>
    </div>
    <div class="main-about-us-page-top">
      <div class="contact-info">
        <div class="contact-info-wrapper">
          <div class="contact-icon">
            {% render 'icon-phone' %}
          </div>
          <div class="contact-content">
            <h3>{{ section.settings.contact-heading }}</h3>
            <p>{{ section.settings.contact-content }}</p>
          </div>
        </div>
      </div>
      <div class="location-info">
        <div class="location-info-wrapper">
          <div class="location-icon">
            {% render 'icon-home' %}
          </div>
          <div class="location-content">
            <h3>{{ section.settings.location-heading }}</h3>
            <p>{{ section.settings.location-content }}</p>
          </div>
        </div>
      </div>
      <div class="email-info">
        <div class="email-info-wrapper">
          <div class="email-icon">
            {% render 'icon-email' %}
          </div>
          <div class="email-content">
            <h3>{{ section.settings.email-heading }}</h3>
            <p>{{ section.settings.email-content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if section.settings.show_team -%}
  <div class="our-exclusive-team">
    <div class="page-width">
  
      <div class="heading">
        <div class="our-team-heading-part title_bottom_margin" style="text-align: {{ section.settings.heading_alignment }};">
          <div class="team-main-heading theme_main_heading h2">{{ section.settings.team_main_title }}</div>
          <p class="team-subheading theme_main_description">{{ section.settings.team_main_subtitle }}</p>
        </div>
      </div>
  
      <div class="swiper-container team_block">
        <div class="team-row swiper-wrapper">
          {% for block in section.blocks %}
              {% if block.type == 'team-block' %}
                <div class="team-wrap swiper-slide">
                  <div class="team-member text-center">
                    <div class="team-img">
                      {% if block.settings.team-img-main-1 != blank %}
                      <div class="media media--transparent ratio" style="--ratio-percent: 125%">
                        <img src="{{ block.settings.team-img-main-1 | img_url: 'master' }}" alt="product-image" class="w-100" loading="lazy">
                      </div>
                      {% else %}
                      <div class="media media--transparent ratio" style="--ratio-percent: 125%">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      </div>
                      {% endif %}
                      <div class="overlay">
                        <div class="team-details text-center">
                          <p>
                            {{ block.settings.team_paragraph_1 }}
                          </p>
                          <div class="socials">
                            <a href="{{ block.settings.facebook_url_1 }}">{% render 'icon-facebook' %}</a>
                            <a href="{{ block.settings.twitter_url_1 }}">{% render 'icon-twitter' %}</a>
                            <a href="{{ block.settings.instagram_url_1 }}">{% render 'icon-instagram' %}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="team-sections-details">
                      <div class="team-title members-name h3">{{ block.settings.team_name_1 }}</div>
                      <span class="members-designation">{{ block.settings.team_designation_1 }}</span>
                    </div>
                  </div>
                </div> 
              {% endif %}
            {% endfor %}
        </div>
        {% if section.settings.arrows %}
          <div class="swiper-buttons">
            <div class="content-buttons">
              <div class="swiper-button-next">{% render 'icon-caret' %}</div>
              <div class="swiper-button-prev">{% render 'icon-caret' %}</div>
            </div>
          </div>
        {% endif %}
      </div>
  
    </div>
  </div>
{% endif %}

{% for block in section.blocks %}
{% if block.type == 'team-block' %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let teamswiper;
  
    function initteamswiper() {
      teamswiper = new Swiper('.team_block', {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {{ section.settings.autoplay-enable }},
        speed: {{ section.settings.speed }},
        loop: {{ section.settings.loop }},
        grabCursor: true,
        freeMode: false,
        mousewheel: false,
         navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          320: {
            slidesPerView: {{ section.settings.colums_mobile }},
            spaceBetween: 15
          },
          480: {
            slidesPerView: {{ section.settings.colums_tablet }}
          },
          641: {
            slidesPerView: {{ section.settings.columns_large_tablet }}
          },
          768: {
            slidesPerView: {{ section.settings.columns_large_tablet }},
            spaceBetween: 15
          },
          992: {
            slidesPerView: {{ section.settings.colums_desktop }}
          }
        },
      });
    }
  
    // Initialize team swiper on page load
    initteamswiper();
  
    document.addEventListener('shopify:section:select', function() {
      // Reinitialize team swiper on section select
      initteamswiper();
    });

     document.addEventListener('shopify:section:load', function() {
      // Reinitialize team swiper on section load
      initteamswiper();
    });
  
    document.addEventListener('shopify:section:deselect', function() {
      // Cleanup team swiper on section deselect if necessary
      if (teamswiper) {
        teamswiper.destroy();
        teamswiper = null;
      }
    });
  });
</script>
{% endif %}
{% endfor %}

{% style %}
  .second-inner-about-us-page .contact-info-wrapper,
  .second-inner-about-us-page .location-info-wrapper,
  .second-inner-about-us-page .email-info-wrapper {
    border: 1px solid {{ settings.border_color }};
  }
  .second-inner-about-us-page .contact-icon,
  .second-inner-about-us-page .location-icon,
  .second-inner-about-us-page .email-icon {
    border: 1px solid {{ settings.border_color }};
  }
  .our-exclusive-team .theme_main_heading {
    color: {{ settings.theme_heading_color }};
  }
  .second-inner-about-us-bottom-text p {
    color: {{ settings.content_color }};
  }
  .main-about-us-page-top svg{
    color: {{ settings.page_title_text_color }};
    transition: all .5s ease;
  }
  .contact-content h3,
  .location-content h3,
  .email-content h3 {
    color: {{ settings.page_title_text_color }};
  }
  .contact-content p,
  .location-content p,
  .email-content p,
  .our-exclusive-team .theme_main_description{
    color: {{ settings.content_color }};
  }
  .contact-info-wrapper:hover .contact-icon svg,
  .location-info-wrapper:hover .location-icon svg,
  .email-info-wrapper:hover .email-icon svg{
    color: {{ settings.button_text }};
    transform: rotate3d(0, 1, 0, 180deg);
  }
  .second-inner-about-us-page .contact-info-wrapper:hover .contact-icon, 
  .second-inner-about-us-page .location-info-wrapper:hover .location-icon, 
  .second-inner-about-us-page .email-info-wrapper:hover .email-icon{
    background-color: {{ settings.button_bg }};
    border: 1px solid {{ settings.button_bg }};
  }
  .team-sections-details{
    background: {{ settings.button_bg }};
    color:{{ settings.button_text }}; 
  }
  .our-exclusive-team .swiper-button-next,.our-exclusive-team .swiper-button-prev{
    background:{{ settings.button_bg }};
    color:{{ settings.button_text }};
  }
  .our-exclusive-team .swiper-button-next:hover,.our-exclusive-team .swiper-button-prev:hover{
    background: {{ settings.button_hr_bg }}; 
    color: {{ settings.button_hr_text }};
  }
  .second-inner-about-us-page, .our-exclusive-team  {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .second-inner-about-us-page, .our-exclusive-team {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .second-inner-about-us-page, .our-exclusive-team {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .second-inner-about-us-page, .our-exclusive-team {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .second-inner-about-us-page, .our-exclusive-team {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
    }
  }
  @media screen and (max-width: 575px) {
    .second-inner-about-us-page, .our-exclusive-team {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "About inner page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_topimg",
        "label": "Show top image",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "top-about-us-img",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id": "about-us-content",
        "label": "Content",
        "default": "Tell about your story, which is more attraction to  the customers. and also tell about your travelling journey for set up your store and your company or your brand and branding. how you start your business from starting to now."
      },
      {
        "type": "header",
        "content": "Contact Content Settings"
      },
      {
        "type": "text",
        "id": "contact-heading",
        "label": "Heading",
        "default": "+01 0123 456 789"
      },
      {
        "type": "text",
        "id": "contact-content",
        "label": "Content",
        "default": "Contact Information provides the identity of, and the means to communicate with, the person and organization associated with the data set or information resource. "
      },
      {
        "type": "header",
        "content": "Location Content Settings"
      },
      {
        "type": "text",
        "id": "location-heading",
        "label": "Heading",
        "default": "Enter your address here"
      },
      {
        "type": "text",
        "id": "location-content",
        "label": "Content",
        "default": "Contact Information provides the identity of, and the means to communicate with, the person and organization associated with the data set or information resource. "
      },
      {
        "type": "header",
        "content": "Email Content Settings"
      },
      {
        "type": "text",
        "id": "email-heading",
        "label": "Heading",
        "default": "admin@gmail.com"
      },
      {
        "type": "text",
        "id": "email-content",
        "label": "Content",
        "default": "Contact Information provides the identity of, and the means to communicate with, the person and organization associated with the data set or information resource. "
      },
      {
        "type": "header",
        "content": "Our team settings"
      },
      {
        "type": "checkbox",
        "id": "show_team",
        "label": "Show team",
        "default": true
      },
      {
        "type": "text",
        "id": "team_main_title",
        "default": "Meet our team",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "team_main_subtitle",
        "default": "Create your own website with us",
        "label": "Sub title"
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "colums_desktop",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4,
        "label": "Number of columns on desktop"
      },
      {
        "type": "range",
        "id": "columns_large_tablet",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "Number of columns on large tablet"
      },
      {
        "type": "range",
        "id": "colums_tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 2,
        "label": "Number of columns on tablet"
      },
      {
        "type": "range",
        "id": "colums_mobile",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 2,
        "label": "Number of columns on mobile"
      },
      {
        "type": "checkbox",
        "id": "autoplay-enable",
        "label": "Autoplay enable",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Enable navigation arrows",
        "default": true
      },
      {
        "type": "text",
        "id": "speed",
        "label": "Slide speed",
        "default": "500"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Enable loop",
        "default": true
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 45
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 45
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 35
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 35
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "team-block",
        "name": "Team block",
        "settings": [
          {
            "type": "image_picker",
            "id": "team-img-main-1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "team_paragraph_1",
            "default": "Add tem members work description here.",
            "label": "Team paragrapgh"
          },
          {
            "type": "text",
            "id": "team_name_1",
            "default": "Author",
            "label": "Team name"
          },
          {
            "type": "text",
            "id": "team_designation_1",
            "default": "Designation",
            "label": "Team designation"
          },
          {
            "type": "url",
            "id": "facebook_url_1",
            "label": "Facebook link"
          },
          {
            "type": "url",
            "id": "twitter_url_1",
            "label": "Twitter link"
          },
          {
            "type": "url",
            "id": "instagram_url_1",
            "label": "Instagram link"
          }
        ]
      }
    ]
  }
{% endschema %}