{{ 'section-aboutus.css' | asset_url | stylesheet_tag }}

<div class="main-aboutus-section section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
   <div class="{{ section.settings.section_width }}">
     <div class="abut-main-row">
         <div class="about-first-part">
           <div class="main_about_title title_bottom_margin">
              {% if section.settings.section_subtitle != blank %}
                <div class="bestseller_subheading theme_main_subheading">
                  {{ section.settings.section_subtitle }}
                </div>
              {% endif %}
              {% if section.settings.main_heading != blank %}<div class="theme_main_heading h2">{{ section.settings.main_heading }}</div>{% endif %}
              {% if section.settings.section_description != blank %}
                <p class="bestseller__description theme_main_description">
                  {{ section.settings.section_description }}
                </p>
              {% endif %}
            </div>
           <div class="first-part-img">
             <a href="#" class="first-about-hover-img">
              {%- if section.settings.banner_type == 'image' -%}
               {% if section.settings.about_us_img != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                    <img src="{{ section.settings.about_us_img | img_url: 'master' }}" alt="about-image" class="magniflier w-100" loading="lazy">
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                    {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
              {% endif %}
            {% endif %}
            </a>
            {%- if section.settings.banner_type == 'video' -%}
              {% if section.settings.local_url != blank %}
                <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                  <video id="Mp4Video-{{ section.id }}" class="about_video" data-type="mp4"
                    src="{{ section.settings.local_url }}" loop muted playsinline autoplay></video>
                </div>
                {% else %}
                <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                  {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                </div>
              {% endif %}
              {%- endif -%}
  
              {%- if section.settings.banner_type == 'online-video' -%}
                {% if section.settings.video_url != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                    {%- if section.settings.video_url.type == 'youtube' -%}
                    <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1"
                      class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen
                      title="{{ section.settings.description | escape }}"></iframe>
                    {%- else -%}
                    <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo"
                      allow="autoplay; encrypted-media" allowfullscreen
                      title="{{ section.settings.description | escape }}"></iframe>
                    {%- endif -%}
                  </div>
                {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 78.576%">
                    {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
              {% endif %}
            {%- endif -%}
            <div class="about-rounded-img">
              {% if section.settings.rotating_img != blank %}
                <div class="media media--transparent ratio" style="--ratio-percent: 67.747%">
                  <img src="{{ section.settings.rotating_img | img_url: 'master' }}" alt="about-image" class="magniflier w-100" loading="lazy">
                </div>
                {% else %}
                <div class="media media--transparent ratio" style="--ratio-percent: 67.747%">
                  {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                </div>
                {% endif %}
            </div>
           </div>
         </div>
         <div class="about-second-part">
           <a href="#" class="second-about-hover-img">
            {% if section.settings.about_us_img2 != blank %}
              <div class="media media--transparent ratio" style="--ratio-percent: 137.1%">
                <img src="{{ section.settings.about_us_img2 | img_url: 'master' }}" alt="about-image" class="magniflier w-100" loading="lazy">
              </div>
              {% else %}
              <div class="media media--transparent ratio" style="--ratio-percent: 137.1%">
                {{ 'collection-5' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              </div>
            {% endif %}
            </a>
            <p class="image-bottom-content theme_main_description">{{ section.settings.content }}</p>
           <a {% if section.settings.about-btn-url %} href="{{ section.settings.about-btn-url }}" {% else %} role="link" aria-disabled="true" {% endif %} class="button theme_buttons">{{ section.settings.about-btn-text }}</a>
         </div>
      </div>
   </div>
</div>

{% style %}
  .main-aboutus-section .theme_main_subheading{
    color: {{ section.settings.theme_subheading_color }};
  }
  .main-aboutus-section .theme_main_heading{
    color: {{ section.settings.theme_heading_color }};
  }
  .main-aboutus-section .theme_main_description{
    color: {{ section.settings.content_color }};
  }
  .main-aboutus-section .main_about_title{
    text-align: {{ section.settings.main_title_alignment }};
  }
  .main-aboutus-section .theme_buttons {
    background-color: {{ settings.button_bg }};
    color: {{ settings.button_text }};
  }
  .main-aboutus-section .theme_buttons:hover {
    background-color: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .main-aboutus-section .image-bottom-content{
    color: {{ section.settings.content_color }};
  }
  .aboutus_section{
    background-color: {{ section.settings.section_bg }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "Aboutus section",
    "tag": "section",
    "class": "section aboutus_section",
    "settings": [
      {
        "type": "select",
        "id": "section_width",
        "options": [
          {
            "value": "full_width",
            "label": "Full width"
          },
          {
            "value": "page-width",
            "label": "Page width"
          },
          {
            "value": "padding_width",
            "label": "With padding"
          }
        ],
        "label": "Section width",
        "default": "full_width"
      },
      {
        "type": "header",
        "content": "First part setting"
      },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Subheading",
        "default": "About your brand"
      },
      {
        "type": "textarea",
        "id": "main_heading",
        "label": "Heading",
        "default": "About us"
      },
      {
        "type": "textarea",
        "id": "section_description",
        "default": "Pair text with an image to focus on your chosen product, collection, or about us content.",
        "label": "Content"
      },
      {
        "type": "select",
        "id": "main_title_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Main title alignment"
      },
      {
        "type": "select",
        "id": "banner_type",
        "options": [
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "video",
            "label": "Local video"
          },
          {
            "value": "online-video",
            "label": "Online video"
          }
        ],
        "default": "image",
        "label": "Left image settings"
      },
      {
        "type": "url",
        "id": "local_url",
        "label": "Local link",
        "info": "Local video CDN link here."
      },
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "label": "Online link",
        "info": "Youtube or Vimeo link here",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "image_picker",
        "id": "about_us_img",
        "label": "Left image"
      },
      {
        "type": "image_picker",
        "id": "rotating_img",
        "label": "Left bottom image"
      },
      {
        "type": "header",
        "content": "Second part setting"
      },
      {
        "type": "image_picker",
        "id": "about_us_img2",
        "label": "Right image"
      },
      {
        "type": "textarea",
        "id": "content",
        "default": "Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. At auctor urna nunc id cursus metus. Purus sit amet luctus venenatis lectus magna. Rhoncus aenean vel elit scelerisque mauris.",
        "label": "Image bottom content"
      },
      {
        "type": "text",
        "id": "about-btn-text",
        "label": "Button",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "about-btn-url",
        "label": "Button link"
      },
      {
        "type": "header",
        "content": "Color settings"
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Section background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "theme_subheading_color",
        "label": "Subheading color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "theme_heading_color",
        "label": "Heading color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content color",
        "default": "#666666"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "t:sections.all.padding.padding_top",
        "default": 120
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 120
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 70
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 70
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "number",
        "id": "margin-top",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Screen wise section margin"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "margin-top-1429",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1429",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "margin-top-1199",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1199",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "margin-top-991",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-991",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "margin-top-767",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-767",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "margin-top-575",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-575",
        "label": "Margin bottom",
        "default": 0
      }
    ],
     "presets": [
      {
        "name": "Aboutus section"
      }
    ]
  }
{% endschema %}