{{ 'banner-style2.css' | asset_url | stylesheet_tag }}

<div class="banner-style4 section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="banner-with-text4 {{ section.settings.section_width }}">
    <div class="banner-section-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'single-banner' -%}
          <div class="first-banner-section col-lg-{{ block.settings.block-width }}">
            <div class="banner-{{ block.id }} new-banner-wrapper">
              <div class="banner-image">
                <a {% if block.settings.first-banner-btn-url %} href="{{ block.settings.first-banner-btn-url }}" {%
                    else %} role="link" aria-disabled="true" {% endif %} >
                  {% if block.settings.first-banner-image != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio }}%">
                      {{ block.settings.first-banner-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio }}%">
                    {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
                <div class="banner-text banner-text--{{ block.settings.text_alignment1 }} banner-block--{{ block.settings.text_block_alignment1 }}">
                  {% if block.settings.first-banner-subheading-text != blank %}
                    <div class="theme_main_subheading">{{ block.settings.first-banner-subheading-text }}</div>
                  {% endif %}
                  {% if block.settings.first-banner-heading-text != blank %}
                    <div class="theme_main_heading h2">{{ block.settings.first-banner-heading-text }}</div>
                  {% endif %}
                  <div class="theme_buttons button banner_btn_t">{{
                    block.settings.first-banner-btn-text }}</div>
                </div>
                </a>
              </div>
            </div>
          </div>
          {%- when 'multi-banner' -%}
            <div class="banner-{{ block.id }} second-banner-section col-lg-{{ block.settings.block-width2 }}">

            <div class="right-inner-banner">
              <div class="inner-banner-wrapper">
              <div class="new-banner-wrapper inner-left-banner">
                <div class="banner-image">
                  <a {% if block.settings.second-banner-btn-url2 %} href="{{ block.settings.second-banner-btn-url2 }}" {%
                      else %} role="link" aria-disabled="true" {% endif %}>
                    {% if block.settings.second-banner-image2 != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio3 }}%">
                      {{ block.settings.second-banner-image2 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                    {% else %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio3 }}%">
                      {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    </div>
                    {% endif %}
                    <div class="banner-text banner-text--{{ block.settings.text_alignment2 }} banner-block--{{ block.settings.text_block_alignment2 }}">
                      {% if block.settings.second-banner-subheading-text2 != blank %}
                      <div class="theme_main_subheading">{{ block.settings.second-banner-subheading-text2 }}</div>
                      {% endif %}
                      {% if block.settings.second-banner-heading-text2 != blank %}
                      <div class="theme_main_heading h2">{{ block.settings.second-banner-heading-text2 }}</div>
                      {% endif %}
                      <div class="theme_buttons button banner_btn_t">{{
                        block.settings.second-banner-btn-text2 }}</div>
                    </div>
                  </a>
                </div>
              </div>



              <div class="new-banner-wrapper inner-right-banner">
                <div class="banner-image">
                  <a {% if block.settings.second-banner-btn-url3 %} href="{{ block.settings.second-banner-btn-url3 }}" {%
                      else %} role="link" aria-disabled="true" {% endif %}>
                    {% if block.settings.second-banner-image3 != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio4 }}%">
                      {{ block.settings.second-banner-image3 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                    {% else %}
                    <div class="media media--transparent ratio" style="--ratio-percent: {{ block.settings.image-ratio4 }}%">
                      {{ 'collection-4' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    </div>
                    {% endif %}
                    <div class="banner-text banner-text--{{ block.settings.text_alignment3 }} banner-block--{{ block.settings.text_block_alignment3 }}">
                      {% if block.settings.second-banner-subheading-text3 != blank %}
                      <div class="theme_main_subheading second-bottom-subheading">{{ block.settings.second-banner-subheading-text3 }}</div>
                      {% endif %}
                      {% if block.settings.second-banner-heading-text3 != blank %}
                      <div class="theme_main_heading h2 second-bottom-heading">{{ block.settings.second-banner-heading-text3 }}</div>
                      {% endif %}
                      <div class="theme_buttons button banner_btn_t banner_btn_tt">{{
                        block.settings.second-banner-btn-text2 }}</div>
                    </div>
                   </a>
                </div>
              </div>
              </div>
            </div>
          </div>
          {%- endcase -%}
        {%- endfor -%}
        
      </div>
  </div>
</div>

{% style %}
  {%- for block in section.blocks -%}
    {%- if block.type == "single-banner" -%}
     .banner-style4 .first-banner-section .banner-{{ block.id }} .banner_btn_t{
        background: {{ block.settings.theme_btn_bg }};
        color: {{ block.settings.theme_btn_text }};
      }
      .banner-style4 .first-banner-section .banner-{{ block.id }} .banner_btn_t:hover{
        background: {{ block.settings.theme_btn_hr_bg }};
        color: {{ block.settings.theme_btn_hr_text }};
      }
      .banner-style4 .banner-{{ block.id }} .theme_main_heading{
        color: {{ block.settings.heading_color }};
      }
      .banner-style4 .banner-{{ block.id }} .theme_main_subheading{
        color: {{ block.settings.subheading_color }};
      }
    {% endif %}
  {% endfor %}
  {%- for block in section.blocks -%}
    {%- if block.type == "multi-banner" -%}
      .banner-{{ block.id }} .right-inner-banner .banner_btn_t{
        background: {{ block.settings.theme_btn_bg1 }};
        color: {{ block.settings.theme_btn_text1 }};
      }
      .banner-{{ block.id }} .right-inner-banner .banner_btn_t:hover{
        background: {{ block.settings.theme_btn_hr_bg1 }};
        color: {{ block.settings.theme_btn_hr_text1 }};
      }
     .banner-{{ block.id }} .right-inner-banner .banner_btn_tt{
        background: {{ block.settings.theme_btn_bg2 }};
        color: {{ block.settings.theme_btn_text2 }};
      }
      .banner-{{ block.id }} .right-inner-banner .banner_btn_tt:hover{
        background: {{ block.settings.theme_btn_hr_bg2 }};
        color: {{ block.settings.theme_btn_hr_text2 }};
      }
      .banner-{{ block.id }} .right-inner-banner .theme_main_heading{
        color: {{ block.settings.heading_color1 }};
      }
      .banner-{{ block.id }} .right-inner-banner .theme_main_subheading{
        color: {{ block.settings.subheading_color1 }};
      }
      .banner-{{ block.id }} .right-inner-banner .second-bottom-heading{
        color: {{ block.settings.heading_color2 }};
      }
      .banner-{{ block.id }} .right-inner-banner .second-bottom-subheading{
        color: {{ block.settings.subheading_color2 }};
      }
    {% endif %}
  {% endfor %}
  .banner_section_style2{
    background-color: {{ section.settings.bg_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{% endstyle %}
  
{% schema %}
{
  "name": "Banner style 2",
  "tag": "section",
  "class": "section banner_section_style2",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "page-width"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "single-banner",
      "name": "single-banner",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Banner Settings"
        },
        {
          "type": "select",
          "id": "block-width",
          "default": "6",
          "options": [
            {
              "value": "4",
              "label": "33.33%"
            },
            {
              "value": "6",
              "label": "50%"
            }
          ],
          "label": "Block width"
        },
        {
          "type": "image_picker",
          "id": "first-banner-image",
          "label": "First banner image"
        },
        {
          "type": "text",
          "id": "first-banner-subheading-text",
          "label": "Subheading",
          "default": "Banner trend"
        },
        {
          "type": "textarea",
          "id": "first-banner-heading-text",
          "label": "Heading",
          "default": "Annouce your offer"
        },
        {
          "type": "text",
          "id": "first-banner-btn-text",
          "label": "Button",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "first-banner-btn-url",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "image-ratio",
          "label": "Image height ratio",
          "default": "100"
        },
        {
          "type": "select",
          "id": "text_alignment1",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Banner text alignment"
        },
        {
          "type": "select",
          "id": "text_block_alignment1",
          "label": "Block position",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-center",
              "label": "Top center"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Center left"
            },
            {
              "value": "middle-center",
              "label": "Center"
            },
            {
              "value": "middle-right",
              "label": "Center right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ],
          "default": "bottom-center"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
          "type": "color",
          "id": "subheading_color",
          "label": "Subheading color",
          "default": "#255a30"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_bg",
          "label": "Theme button bg color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_text",
          "label": "Theme button text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_bg",
          "label": "Theme button hover background color",
          "default": "#ff7a16"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_text",
          "label": "Theme button hover text color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "multi-banner",
      "name": "multi-banner",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Banner Settings"
        },
        {
          "type": "select",
          "id": "block-width2",
          "default": "6",
          "options": [
            {
              "value": "4",
              "label": "33.33%"
            },
            {
              "value": "6",
              "label": "50%"
            }
          ],
          "label": "Block width"
        },
        {
          "type": "header",
          "content": "First top banner Settings"
        },
        {
          "type": "image_picker",
          "id": "second-banner-image2",
          "label": "First banner image"
        },
        {
          "type": "text",
          "id": "second-banner-subheading-text2",
          "label": "Subheading",
          "default": "Banner trend"
        },
        {
          "type": "textarea",
          "id": "second-banner-heading-text2",
          "label": "Heading",
          "default": "Annouce your offer"
        },
        {
          "type": "text",
          "id": "second-banner-btn-text2",
          "label": "Button",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "second-banner-btn-url2",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "image-ratio3",
          "label": "First image height ratio",
          "default": "50"
        },
        {
          "type": "select",
          "id": "text_alignment2",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center",
          "label": "Banner text alignment"
        },
        {
          "type": "select",
          "id": "text_block_alignment2",
          "label": "Block position",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-center",
              "label": "Top center"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Center left"
            },
            {
              "value": "middle-center",
              "label": "Center"
            },
            {
              "value": "middle-right",
              "label": "Center right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ],
          "default": "middle-center"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
          "type": "color",
          "id": "subheading_color1",
          "label": "Subheading color",
          "default": "#255a30"
        },
        {
          "type": "color",
          "id": "heading_color1",
          "label": "Heading color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_bg1",
          "label": "Theme button bg color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_text1",
          "label": "Theme button text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_bg1",
          "label": "Theme button hover background color",
          "default": "#ff7a16"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_text1",
          "label": "Theme button hover text color",
          "default": "#ffffff"
        },
        {
          "type": "header",
          "content": "Second bottom banner Settings"
        },
        {
          "type": "image_picker",
          "id": "second-banner-image3",
          "label": "Second banner image"
        },
        {
          "type": "text",
          "id": "second-banner-subheading-text3",
          "label": "Subheading",
          "default": "Banner trend"
        },
        {
          "type": "textarea",
          "id": "second-banner-heading-text3",
          "label": "Heading",
          "default": "Annouce your offer"
        },
        {
          "type": "text",
          "id": "second-banner-btn-text3",
          "label": "Button",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "second-banner-btn-url3",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "image-ratio4",
          "label": "Second image height ratio",
          "default": "50"
        },
        {
          "type": "select",
          "id": "text_alignment3",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left",
          "label": "Banner text alignment"
        },
        {
          "type": "select",
          "id": "text_block_alignment3",
          "label": "Block position",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-center",
              "label": "Top center"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "middle-left",
              "label": "Center left"
            },
            {
              "value": "middle-center",
              "label": "Center"
            },
            {
              "value": "middle-right",
              "label": "Center right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ],
          "default": "middle-left"
        },
        {
          "type": "header",
          "content": "Color Settings"
        },
        {
          "type": "color",
          "id": "subheading_color2",
          "label": "Subheading color",
          "default": "#255a30"
        },
        {
          "type": "color",
          "id": "heading_color2",
          "label": "Heading color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_bg2",
          "label": "Theme button bg color",
          "default": "#333333"
        },
        {
          "type": "color",
          "id": "theme_btn_text2",
          "label": "Theme button text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_bg2",
          "label": "Theme button hover background color",
          "default": "#ff7a16"
        },
        {
          "type": "color",
          "id": "theme_btn_hr_text2",
          "label": "Theme button hover text color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner style 2",
      "category": "Banner style 3",
      "blocks": [
        {
          "type": "single-banner"
        },
        {
          "type": "multi-banner"
        }
      ]
    }
  ]
}
{% endschema %}