{{ 'home-collapsible.css' | asset_url | stylesheet_tag }}
<div class="home_collapsible_content section-{{ section.id }}-padding">
  <div class="{{ section.settings.section_width }}">
    <div class="collapsible-counter-row">
      <div class="collapsible-row">
        <div class="collapsible_content">
          <div class="collapsible-content">
            <div class="collapsible-main-title title_bottom_margin">
              {% if section.settings.heading-img1 != blank %}
                <div class="heading-img w-100 {{ section.settings.main_title_alignment }}">
                  <img src="{{ section.settings.heading-img1 | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
                </div>
              {% endif %}
              {% if section.settings.subheading != blank %}<div class="theme_main_subheading">{{ section.settings.subheading }}</div>{% endif %}
              {% if section.settings.heading != blank %}<h2 class="theme_main_heading">{{ section.settings.heading }}</h2>{% endif %}
              {% if section.settings.content != blank %}<div class="theme_main_description">{{ section.settings.content }}</div>{% endif %}
            </div>

              <div class="accordion">
                 {%- for block in section.blocks -%}
                    <div class="accordion-item {% if forloop.first %}active{% endif %}">
                     <div class="accordion-content">
                       <div class="accordion__title h3">
                         
                          {{ block.settings.heading | default: block.settings.page.title }}
                      </div>
                      <div class="collapsi-icon">
                        {% render 'icon-row-plus' %}
                        {% render 'icon-row-minus' %}
                      </div>
                     </div>
                   
                    <div class="accordion__content rte paragraph" >
                      {{ block.settings.row_content | truncatewords: 30}}
                    </div>
                   </div>
                {%- endfor -%}
              </div>
    
              <a {% if section.settings.btn-url %} href="{{ section.settings.btn-url }}" {% else %} role="link"
                aria-disabled="true" {% endif %} class="button theme_buttons">{{ section.settings.btn-text }}</a>        
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const accordionItem = document.querySelectorAll(".accordion-item");
accordionItem.forEach((el) =>
  el.addEventListener("click", () => {
    if (el.classList.contains("active")) {
      el.classList.remove("active");
    } else {
      accordionItem.forEach((el2) => el2.classList.remove("active"));
      el.classList.add("active");
    }
  })
);
</script>


{% style %}

.home_collapsible_content .heading-img.center{
  margin: 0 auto;
}
.home_collapsible_content .heading-img.right{
  margin: 0 0 0 auto;
}
.collapsible-main-title{
  text-align: {{ section.settings.main_title_alignment }};
}
.home_collapsible_content .theme_buttons {
  background: {{ section.settings.button_bg }};
  color:{{ section.settings.button_text }};
}
.home_collapsible_content .theme_buttons:hover {
  color:{{ section.settings.button_hr_text }}; 
  background:{{ section.settings.button_hr_bg  }};
}
.home_collapsible_content .accordion .accordion-content{
  color: {{ section.settings.text_color }};
  background: {{ section.settings.inner_bg_color }};
}
.home_collapsible_content .theme_main_heading{
  color: {{ section.settings.theme_heading_color }};
}
.home_collapsible_content .theme_main_subheading{
  color: {{ section.settings.theme_subheading_color }};
}
.home_collapsible_content .theme_main_description{
  color: {{ section.settings.content_color }};
}
.home_collapsible_content .accordion__content{
  color: {{ section.settings.content_color }};
  border: 1px solid {{ section.settings.border_color }};
  border-radius: var(--buttons-radius-outset);
}
.collapsi-icon{
  border: 1px solid {{ section.settings.text_color }};
}
.collapsi-icon svg{
  color: {{ section.settings.text_color }};
}
.home_collapsible_content .accordion .accordion-content:hover .accordion__title{
  color: {{ section.settings.text_hr_color }};
}
.home_collapsible_content .accordion .accordion-content:hover .collapsi-icon{
  border: 1px solid {{ section.settings.text_hr_color }};
  color: {{ section.settings.text_hr_color }};
}
.home_collapsible_content .collapsible_counter #counter{
  background-color: {{ section.settings.counter_bg }};
  color: {{ section.settings.counter_text }};
}
{% if section.settings.right_img %}
  .home_collapsible_content .collapsible-row{
    flex-direction: row-reverse;
  }
{% endif %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
  margin-top: {{ section.settings.margin-top }}px;
  margin-bottom: {{ section.settings.margin-bottom }}px;
  background-color: {{ section.settings.bg_color }};
}
@media screen and (max-width: 1429px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1429 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
    margin-top: {{ section.settings.margin-top-1429 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
  }
}
@media screen and (max-width: 1199px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1199 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
    margin-top: {{ section.settings.margin-top-1199 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
  }
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-991 }}px;
    padding-bottom: {{ section.settings.padding-bottom-991 }}px;
    margin-top: {{ section.settings.margin-top-991 }}px;
    margin-bottom: {{ section.settings.margin-bottom-991 }}px;
  }
}
@media screen and (max-width: 767px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-767 }}px;
    padding-bottom: {{ section.settings.padding-bottom-767 }}px;
    margin-top: {{ section.settings.margin-top-767 }}px;
    margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
  }
}
@media screen and (max-width: 575px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-575 }}px;
    padding-bottom: {{ section.settings.padding-bottom-575 }}px;
    margin-top: {{ section.settings.margin-top-575 }}px;
    margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "Home collapsible",
    "settings": [
      {
        "type": "select",
        "id": "section_width",
        "options": [
          {
            "value": "full__width",
            "label": "Full width"
          },
          {
            "value": "page-width",
            "label": "Page width"
          }
        ],
        "label": "Section width",
        "default": "page-width"
      },
      {
        "type": "header",
        "content": "Content part setting"
      },
      {
        "type" : "image_picker",
        "id" : "heading-img1",
        "label" : "Heading image"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "Frequently ask questions"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "Pair text with an image to focus on your chosen product."
      },
      {
        "type": "text",
        "id": "btn-text",
        "label": "Button",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "btn-url",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "main_title_alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left",
        "label": "Main title alignment"
      },
      {
        "type": "header",
        "content": "Color setting"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Content bg color",
        "default": "#f8f7ee"
      },
      {
        "type": "color",
        "id": "theme_heading_color",
        "label": "Heading color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "theme_subheading_color",
        "label": "Subheading color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content color",
        "default": "#666666"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color",
        "default": "#e5e5e5"
      },
      {
        "type": "color",
        "id": "inner_bg_color",
        "label": "Content bg color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#f5f5f5"
      },
      {
        "type": "color",
        "id": "text_hr_color",
        "label": "Text hover color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "button_bg",
        "label": "Button bg color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "button_text",
        "label": "Button text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_hr_bg",
        "label": "Button hover bg color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_hr_text",
        "label": "Button hover text color",
        "default": "#333333"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "t:sections.all.padding.padding_top",
        "default": 120
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 120
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 70
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 70
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "number",
        "id": "margin-top",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Screen wise section margin"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "margin-top-1429",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1429",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "margin-top-1199",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1199",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "margin-top-991",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-991",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "margin-top-767",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-767",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "margin-top-575",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-575",
        "label": "Margin bottom",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "collapsible",
        "name": "Collapsible",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible row",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
            "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
          },
          {
            "type": "richtext",
            "id": "row_content",
            "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label",
            "default": "<p>Pair text with an image to focus on your chosen product.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home collapsible",
        "category": "Home collapsible",
        "blocks": [
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          },
          {
            "type": "collapsible"
          }
        ]
      }
    ]
  }
{% endschema %}