{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  .parallax_section{
    background-color: {{ section.settings.bg_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
  #Banner-{{ section.id }} .banner__box {
    background-color: {{ section.settings.box_background_color }};
  }
  .banner__heading{
    color: {{ section.settings.heading_color }};
  }
  .image_banner_subheading{
    color: {{ section.settings.subheading_color }};
  }
  .banner__text.theme_main_description{
    color: {{ section.settings.description_color }};
  }
  .banner__buttons a{
    background-color: {{ section.settings.button_bg }};
    color: {{ section.settings.button_text }};
  }
  .banner__buttons a:hover{
    background-color: {{ section.settings.button_hr_bg }};
    color: {{ section.settings.button_hr_text }};
  }
   .main-image-banner-section .countdown_section{
    color: {{ section.settings.countdown_text }};
    background: {{ section.settings.countdown_bg }}
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="main-image-banner-section section-{{ section.id }}-padding {{ section.settings.section_width }}">
  <div
    id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.image != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  >
    {%- if section.settings.image != blank -%}
      <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {%- liquid
          assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths,
            fetchpriority: fetch_priority
        }}
      </div>
    {%- else -%}
      <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      </div>
    {%- endif -%}
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="banner__box content-container content-container--full-width-mobile">
          {% if section.settings.main_subheading != blank %}
            <div class="image_banner_subheading theme_main_subheading">{{ section.settings.main_subheading }}</div>
          {% endif %}
          {% if section.settings.heading != blank %}
            <div class="banner__heading inline-richtext h2 theme_main_heading">{{ section.settings.heading }}</div>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="banner__text theme_main_description">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.show_countdown %}
            <div class="parallax-countdown">
            <ul class="contdown_row">
              <li class="countdown_section">
                <span id="days" class="countdown_timer"></span>
                <span class="countdown_title">{{ section.settings.day_title }}</span>
              </li>
              <li class="countdown_section">
                <span id="hours" class="countdown_timer"></span>
                <span class="countdown_title">{{ section.settings.hour_title }}</span>
              </li>
              <li class="countdown_section">
                <span id="minutes" class="countdown_timer"></span>
                <span class="countdown_title">{{ section.settings.minute_title }}</span>
              </li>
              <li class="countdown_section">
                <span id="seconds" class="countdown_timer"></span>
                <span class="countdown_title">{{ section.settings.second_title }}</span>
              </li>
            </ul>
          </div>
          <script>
            const second = 1000,
              minute = second * 60,
              hour = minute * 60,
              day = hour * 24;
            let countDown = new Date('{{ section.settings.product_mont }} {{ section.settings.product_date }}, {{ section.settings.product_year }} 00:00:00').getTime(),
              x = setInterval(function () {
                let now = new Date().getTime(),
                  distance = countDown - now;
                document.getElementById('days').innerText = Math.floor(distance / (day)),
                  document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
                  document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
                  document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
                  if (distance <= 0) {
                    clearInterval(x); // Stop the countdown
                    document.querySelector('.parallax-countdown').style.display = 'none'; // Hide the countdown element
                  }
              }, second)
          </script>
          {% endif %}
          <div class="banner__buttons">
            {%- if section.settings.button_label_1 != blank -%}
              <a
                {% if section.settings.button_link_1 == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.button_link_1 }}"
                {% endif %}
                class="button"
                aria-label="{{- section.settings.button_label_1 | escape -}}"
              >
                {{- section.settings.button_label_1 | escape -}}
              </a>
            {%- endif -%}
          </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section parallax_section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "full_width"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "label": "t:sections.featured-collection.settings.subheading.label",
      "default": "Text about your branding"
    },
    {
      "type": "textarea",
      "id": "heading",
      "default": "Image banner",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Give customers details about the banner image(s) or content on the template.",
      "label": "t:sections.image-banner.blocks.text.settings.text.label"
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "default": true,
      "label": "Show coundown"
    },
    {
      "type": "select",
      "id": "product_mont",
      "label": "Countdown month",
      "options": [
        {
          "label": "January",
          "value": "January"
        },
        {
          "label": "February",
          "value": "February"
        },
        {
          "label": "March",
          "value": "March"
        },
        {
          "label": "April",
          "value": "April"
        },
        {
          "label": "May",
          "value": "May"
        },
        {
          "label": "June",
          "value": "June"
        },
        {
          "label": "July",
          "value": "July"
        },
        {
          "label": "August",
          "value": "August"
        },
        {
          "label": "September",
          "value": "September"
        },
        {
          "label": "October",
          "value": "October"
        },
        {
          "label": "November",
          "value": "November"
        },
        {
          "label": "December",
          "value": "December"
        }
      ]
    },
    {
      "type": "text",
      "id": "product_year",
      "label": "Countdown year",
      "default": "2025"
    },
    {
      "type": "text",
      "id": "product_date",
      "label": "Countdown date",
      "default": "30"
    },
    {
      "type": "text",
      "id": "day_title",
      "label": "Day title",
      "default": "Day"
    },
    {
      "type": "text",
      "id": "hour_title",
      "label": "Hour title",
      "default": "Hour"
    },
    {
      "type": "text",
      "id": "minute_title",
      "label": "Minute title",
      "default": "Min"
    },
    {
      "type": "text",
      "id": "second_title",
      "label": "Second title",
      "default": "Sec"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "default": "Button label",
      "label": "t:sections.column_banner.blocks.banner_image.banner_btn",
      "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "t:sections.column_banner.blocks.banner_image.banner_btn_link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        }
      ],
      "default": "fixed",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.social_media_collage.settings.color_setting"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "box_background_color",
      "label": "t:sections.slideshow.blocks.slide.settings.box_bg_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.social_media_collage.settings.heading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "t:sections.social_media_collage.settings.subheading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "t:settings_schema.colors.settings.button_bg_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "t:settings_schema.colors.settings.button_text_color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hr_bg",
      "label": "t:settings_schema.colors.settings.button_hover_bg",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "button_hr_text",
      "label": "t:settings_schema.colors.settings.button_hover_text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "countdown_bg",
      "default": "#ffffff",
      "label": "Countdown bg"
    },
    {
      "type": "color",
      "id": "countdown_text",
      "default": "#333333",
      "label": "Countdown text"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name"
    }
  ]
}
{% endschema %}
