{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .account .customer__title,.account-heading{
    color: {{ settings.theme_heading_color }};
  }
  .customer thead th, .customer tbody td,.customer tbody strong,.form__message{
    color: {{ settings.page_title_text_color }};
  }
  .account h1+a,:is(.account,.order) h2,:is(.account,.order) a{
    color: {{ settings.page_title_text_color }};
    transition: all .5s ease;
  }
  .account h1+a:hover,:is(.account,.order) a:hover{
    color: {{ settings.theme_text_hover_color}};
  }
  :is(.account,.order) p,
  .customer strong{
    color: {{ settings.page_title_text_color }};
  }
  .customer table, .customer th, .customer td {
    border: 1px solid {{ settings.border_color }} !important;
  }
  .account .account_btn{
    background-color:{{ settings.button_bg }};
    color:{{ settings.button_text }};
  }
  .account .account_btn:hover{
    color:{{ settings.button_hr_text }};
    background-color:{{ settings.button_hr_bg }};
  }
  .customer .form__message svg{
    fill: {{ settings.page_title_text_color }};
    transition: all .5s ease;
  }
  .customer .form__message:hover svg{
    fill: {{ settings.theme_main_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px; 
    }
  }
{%- endstyle -%}  

<div class="customer account section-{{ section.id }}-padding section-{{ section.id }}-margin">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
    {%- assign customer_name = customer.name | default: customer.default_address.name | default: customer.email -%}
    <p class="hello-account">{{ 'customer.account.hello_html' | t: name: customer_name,link: routes.account_logout_url }}</p>
  </div>
  <div>
    <div>
      <h2>{{ 'customer.orders.title' | t }}</h2>
      {% paginate customer.orders by 20 %}
        {%- if customer.orders.size > 0 -%}
          <table role="table" class="order-history">
            <caption class="visually-hidden">
              {{ 'customer.orders.title' | t }}
            </caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                <th id="ColumnFulfillment" scope="col" role="columnheader">
                  {{ 'customer.orders.fulfillment_status' | t }}
                </th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for order in customer.orders -%}
                <tr role="row">
                  <td
                    id="RowOrder"
                    role="cell"
                    headers="ColumnOrder"
                    data-label="{{ 'customer.orders.order_number' | t }}"
                  >
                    <a
                      href="{{ order.customer_url }}"
                      aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                    >
                      {{ order.name }}
                    </a>
                  </td>
                  <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                    {{ order.created_at | time_tag: format: 'date' }}
                  </td>
                  <td
                    headers="RowOrder ColumnPayment"
                    role="cell"
                    data-label="{{ 'customer.orders.payment_status' | t }}"
                  >
                    {{ order.financial_status_label }}
                  </td>
                  <td
                    headers="RowOrder ColumnFulfillment"
                    role="cell"
                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                  >
                    {{ order.fulfillment_status_label }}
                  </td>
                  <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                    {{ order.total_net_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- else -%}
          <p>{{ 'customer.orders.none' | t }}</p>
        {%- endif -%}

        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                        {{- part.title -}}
                      </a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      {% endpaginate %}
    </div>

    <div>
      <h2>{{ 'customer.account.details' | t }}</h2>

      {{ customer.default_address | format_address }}

      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
     <div class="testing">

      <table class="order-author-detail">
        <tbody>
          <tr>
            <td><strong>{{ 'customer.ordertable.order_name' | t }}</strong></td>
            <td>{{ customer.first_name }} {{ customer.last_name }} </td>
          </tr>
          <tr>
            <td><strong>{{ 'customer.ordertable.order_email' | t }}</strong></td>
            <td>{{ customer.default_address.email | default: customer.email }}</td>
          </tr>

          {%- if customer.default_address != blank -%}
          <tr>
            <td><strong>{{ 'customer.ordertable.order_address' | t }}</strong></td>
            <td>{{ customer.default_address.address1 }}</td>
          </tr>
          {%- if customer.default_address.address2 != blank -%}
          <tr>
            <td><strong>{{ 'customer.ordertable.order_address2' | t }}</strong></td>
            <td>{{ customer.default_address.address2 }}</td>
          </tr>
          {%- endif -%}
          {%- if customer.default_address.city != blank -%}
          <tr>
            <td><strong>{{ 'customer.ordertable.order_country' | t }} </strong></td>
            <td>{{ customer.default_address.city }}, {% if address.province_code %}{{
              customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</td>
          </tr>
          {%- endif -%}
          {%- if customer.default_address.zip != blank -%}
          <tr>
            <td><strong>{{ 'customer.ordertable.order_pincode' | t }}</strong></td>
            <td>{{ customer.default_address.zip }}</td>
          </tr>
          {%- endif -%}
          {%- if customer.default_address.phone != blank -%}
          <tr>
            <td><strong>{{ 'customer.ordertable.order_phonenumber' | t }}</strong></td>
            <td>{{ customer.default_address.phone }}</td>
          </tr>
          {%- endif -%}
          {%- endif -%}
        </tbody>
      </table>
    </div>                     
    <a href="{{ routes.account_logout_url }}" class="button account_btn">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
      </svg>
      {{ 'customer.log_out' | t }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "tag": "section",
  "class": "section main-account-page",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 45
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 45
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 35
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 35
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    }
  ]
}
{% endschema %}
