{{ 'marquee-text.css' | asset_url | stylesheet_tag: preload: true }}

<section class="marquee-with-text d-inline-block section-{{ section.id }}-padding section-{{ section.id }}-margin marquee-{{ section.id }} {% if section.settings.border_concept %}border{% endif %}">
  <div class="{% if section.settings.container %} section-full {% else %} page-width{% endif %}">
    <div class="scrolling_content">
      {%- for i in (0..2) -%}
        <div class="scroll marquee-text-function marquee-text-function--{{ section.settings.animation_style }}">
          {%- for block in section.blocks -%}
            <div class="marquee_wrap">{{ block.settings.content }}</div>
          {%- endfor -%}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
                      
{% style %}
.marquee-with-text.marquee-{{ section.id }} {
  background-color: {{ section.settings.background_color }};
}
.marquee-with-text.marquee-{{ section.id }}.border {
  border-top: 1px solid {{ section.settings.border_color }};
  border-bottom: 1px solid {{ section.settings.border_color }};
}
.marquee-with-text.marquee-{{ section.id }} .scrolling_content .marquee-text-function {
  animation: {{ section.settings.text_time }}s infinite linear;
}
.marquee-with-text.marquee-{{ section.id }} .scrolling_content .marquee-text-function--left-right {
  animation-name: left-right;
}
.marquee-with-text.marquee-{{ section.id }} .scrolling_content .marquee-text-function--right-left {
  animation-name: right-left;
}
.marquee-with-text.marquee-{{ section.id }} .scrolling_content .marquee-text-function .marquee_wrap {
  color: {{ section.settings.s_text_color }} !important;
  position: relative;
}
.marquee-with-text.marquee-{{ section.id }}.border .scrolling_content .marquee-text-function .marquee_wrap:before{
  background-color: {{ section.settings.s_text_color }};
}
.marquee-with-text.marquee-{{ section.id }} .scrolling_content  .marquee_wrap {
  font-size: {{ section.settings.heading_size }}px;
  padding: 0px {{ section.settings.text_spacing }}px;
}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
  margin-top: {{ section.settings.margin-top }}px;
  margin-bottom: {{ section.settings.margin-bottom }}px;
}
@media screen and (max-width: 1429px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1429 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
    margin-top: {{ section.settings.margin-top-1429 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
  }
}
@media screen and (max-width: 1199px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1199 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
    margin-top: {{ section.settings.margin-top-1199 }}px;
    margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
  }
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-991 }}px;
    padding-bottom: {{ section.settings.padding-bottom-991 }}px;
    margin-top: {{ section.settings.margin-top-991 }}px;
    margin-bottom: {{ section.settings.margin-bottom-991 }}px;
  }
}
@media screen and (max-width: 767px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-767 }}px;
    padding-bottom: {{ section.settings.padding-bottom-767 }}px;
    margin-top: {{ section.settings.margin-top-767 }}px;
    margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
  }
}
@media screen and (max-width: 575px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-575 }}px;
    padding-bottom: {{ section.settings.padding-bottom-575 }}px;
    margin-top: {{ section.settings.margin-top-575 }}px;
    margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
  }
  .marquee-with-text.marquee-{{ section.id }} .scrolling_content  .marquee_wrap {
    font-size: 14px !important;
  }
}
{% assign numeric_value = section.settings.m_bottom | plus: 0 %}
{% assign numeric_value_top = section.settings.m_top | plus: 0 %}
@media screen and (max-width: 991px){
  {% if numeric_value < 0 or numeric_value > 0  %}
    .marquee-with-text.marquee-{{ section.id }} {
      margin-bottom: 10px;
    }
  {% endif %}
  {% if numeric_value_top < 0 or numeric_value_top > 0  %}
    .marquee-with-text.marquee-{{ section.id }} {
      margin-top: 10px;
    }
  {% endif %}
}
{% endstyle %}
                      
{% schema %}
{
  "name": "t:sections.social_media_collage.settings.marquee_text_slider",
  "class": "marquee-text-slider-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "container",
      "label": "t:sections.social_media_collage.settings.show_full_width",
      "default": false
    },
    {
      "type" : "checkbox",
      "id" : "border_concept",
      "label" : "t:sections.social_media_collage.settings.enable_border",
      "default": true
    },
    {
      "type": "select",
      "id": "animation_style",
      "options": [
        {
          "value": "left-right",
          "label": "t:sections.social_media_collage.settings.l_to_r"
        },
        {
          "value": "right-left",
          "label": "t:sections.social_media_collage.settings.r_to_l"
        }
      ],
      "default": "left-right",
      "label": "t:sections.social_media_collage.settings.animation_style"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "t:sections.social_media_collage.settings.font_size",
      "min": 14,
      "max": 100,
      "step": 2,
      "default": 26,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "text_time",
      "min": 3,
      "max": 80,
      "step": 1,
      "label": "t:sections.social_media_collage.settings.timing",
      "unit": "s",
      "default": 20
    },
    {
      "type": "range",
      "id": "text_spacing",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "t:sections.social_media_collage.settings.spacing",
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.social_media_collage.settings.color_setting"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.social_media_collage.settings.section_background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "s_text_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.social_media_collage.settings.border_color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "scrolling_text",
      "name": "Content",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "content",
          "default": "Special offer text here",
          "label": "t:sections.featured-collection.settings.description.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.social_media_collage.settings.marquee_text_slider",
      "category": "t:sections.social_media_collage.settings.marquee_text_slider",
      "blocks": [
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        }
      ]
    }
  ]
}
{% endschema %}