{{ 'mobile-bottom-menu.css' | asset_url | stylesheet_tag }}

<div id="myID" class="main-mobile-menu-bottom hide">
  <ul>
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'home' -%}
    <li>
      <a href="{{ routes.root_url }}" class="header__icon" aria-label="home">
        {%- render 'icon-home' -%}
      </a>
    </li>
    {%- when 'cart' -%}
    <li>
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart focus-inset" id="mobile-cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      </a>
    </li>
    {%- when 'wishlist' -%}
    <li>
      <a class="header__icon" href="/pages/compare" aria-label="Wishlist" data-js-information-input="wishlist" data-js-popup-button="wishlist-full">
        {%- render 'icon-wishlist' -%}
      </a>
    </li>
    {%- when 'compare' -%}
    <li>
      <a class="header__icon" href="/pages/compare" aria-label="Compare" data-js-information-input="compare" data-js-popup-button="compare-full">
        {%- render 'icon-compare' -%}
      </a>
    </li>
    {%- when 'account' -%}
    <li>
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}" aria-label="mobile-account">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
    </li>
    {%- endcase -%}
    {%- endfor -%}
  </ul>
</div>

<script>
myID = document.getElementById("myID");

var myScrollFunc = function () {
    var y = window.scrollY;
    if (y >= 20) {
        myID.className = "main-mobile-menu-bottom show {{ section.settings.menu_style }}"
    } else {
        myID.className = "main-mobile-menu-bottom hide {{ section.settings.menu_style }}"
    }
};

window.addEventListener("scroll", myScrollFunc);
</script>

{% style %}
  .main-mobile-menu-bottom > ul > li {
    border-right: 1px solid {{ settings.border_color }};
  }
  .main-mobile-menu-bottom.menu_radius{
    margin: 10px 15px;
    border-radius: 50px;
  }
  .main-mobile-menu-bottom > ul > li svg{
    color: {{ section.settings.icon-color }} !important;
  }
  .main-mobile-menu-bottom {
    background: {{ section.settings.background-color }};
  }
{% endstyle %}

{%- schema -%}
  {
  "name": "Menu bottom",
  "class": "menu-bottom",
  "settings": [
    {
      "type": "select",
      "id": "menu_style",
      "options": [
        {
          "value": "menu_radius",
          "label": "Radius menu"
        },
        {
          "value": "menu_square",
          "label": "Square menu"
        }
      ],
      "default": "menu_square",
      "label": "Bottom menu style"
    },
    {
      "type": "color",
      "id": "background-color",
      "label": "Background color",
      "default": "#3c3c2b"
    },
    {
      "type": "color",
      "id": "icon-color",
      "label": "Icon color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "cart",
      "name": "Cart",
      "limit": 1
    },
    {
      "type": "wishlist",
      "name": "Wishlist",
      "limit": 1
    },
    {
      "type": "home",
      "name": "Home",
      "limit": 1
    },
    {
      "type": "compare",
      "name": "Compare",
      "limit": 1
    },
    {
      "type": "account",
      "name": "Account",
      "limit": 1
    }
  ]
}
{% endschema %}