{{ 'parallax-style2.css' | asset_url | stylesheet_tag }}

<div class="parallax-style2 {{ section.settings.section_width }} section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="parallax-main-wrap">
    <div class="parallax-text">
      <div class="parallax-img first_parllax_img">
        {% if section.settings.parallax-1 != blank %}
        <div class="media media--transparent ratio" style="--ratio-percent: 136%">
          {{ section.settings.parallax-1 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
        </div>
        {% else %}
        <div class="media media--transparent ratio" style="--ratio-percent: 136%">
          {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="parallax-content-text">
      <div class="parallax-main-content">
        {% if section.settings.main_subheading != blank %}<div class="theme_main_subheading">{{ section.settings.main_subheading }}</div>{% endif %}
        {% if section.settings.main_heading != blank %}<h2 class="theme_main_heading">{{ section.settings.main_heading }}</h2>{% endif %}
        {% if section.settings.parallax-paragraph != blank %}<p class="theme_main_description">{{ section.settings.parallax-paragraph }}</p>{% endif %}
         <a {% if section.settings.parallax-url %} href="{{ section.settings.parallax-url }}" {% else %} role="link"
            aria-disabled="true" {% endif %} class="button theme_buttons" aria-label="{{ section.settings.parallax-text }}">{{ section.settings.parallax-text }}</a>
      </div>
    </div>
    <div class="parallax-img second_parllax_img">
      {% if section.settings.parallax-2 != blank %}
      <div class="media media--transparent ratio" style="--ratio-percent: 100%">
        {{ section.settings.parallax-2 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
      </div>
      {% else %}
      <div class="media media--transparent ratio" style="--ratio-percent: 100%">
        {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% style %}
  .parallax-content-text .theme_main_heading{
    font-size: {{ section.settings.theme_maindescription_fontsize }}px;
  }
  .parallax-content-text{
    text-align: {{ section.settings.text_alignment }};
  }
  .parallax-content-text .theme_main_subheading{
    color: {{ section.settings.subheading_color }};
  }
  .parallax-content-text .theme_main_heading{
    color: {{ section.settings.heading_color }};
  }
  .parallax-content-text .theme_main_description{
    color: {{ section.settings.content_color }};
  }
  .parallax-content-text .theme_buttons{
    background: {{ section.settings.button_bg }};
    color: {{ section.settings.button_text }};
  }
  .parallax-content-text .theme_buttons:hover{
    background: {{ section.settings.button_bg_hover }};
    color: {{ section.settings.button_text_hover }};
  }
  .parallax-content-text{
    background: {{ section.settings.content_bg }};
  }
  .parallax-main-wrap{
    background: {{ section.settings.section_bg }};
  }
  .parallax_style2{
    background-color: {{ section.settings.bg_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
    .parallax-content-text .theme_main_heading{
      font-size: {{ section.settings.theme_maindescription_fontsize | times: 0.73 | round: 0 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
    .parallax-content-text .theme_main_heading{
      font-size: {{ section.settings.theme_maindescription_fontsize | times: 0.62 | round: 0 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
    .parallax-content-text .theme_main_heading{
      font-size: {{ section.settings.theme_maindescription_fontsize | times: 0.55 | round: 0 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
    .parallax-content-text .theme_main_heading{
      font-size: {{ section.settings.theme_maindescription_fontsize | times: 0.44 | round: 0 }}px;
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
    .parallax-content-text .theme_main_heading{
      font-size: {{ section.settings.theme_maindescription_fontsize | times: 0.33 | round: 0 }}px;
    }
  }
{% endstyle %}

{% schema %}
  {
  "name": "Parallax style2",
  "tag": "section",
  "class": "section parallax_style2",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Left image setting"
    },
    {
      "type": "image_picker",
      "id": "parallax-1",
      "label": "Left image"
    },
    {
      "type": "header",
      "content": "Content setting"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "label": "Subheading",
      "default": "Get special offer"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Heading",
      "default": "Image heading"
    },
    {
      "type": "range",
      "id": "theme_maindescription_fontsize",
      "min": 0,
      "max": 70,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 50
    },
    {
      "type": "textarea",
      "id": "parallax-paragraph",
      "label": "Content",
      "default": "Pair text with an image to focus on your brand and description of your brand."
    },
    {
      "type": "text",
      "id": "parallax-text",
      "label": "Button",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "parallax-url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Content text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color setting"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Content bg",
      "default": "#f2f1f7"
    },
    {
      "type": "color",
      "id": "content_bg",
      "label": "Content bg color",
      "default": "#dddddd"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "button_bg",
      "label": "Button bg color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "button_text",
      "label": "Button text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button hover bg color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_hover",
      "label": "Button hover text color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Right image setting"
    },
    {
      "type": "image_picker",
      "id": "parallax-2",
      "label": "Right image"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Parallax style2"
    }
  ]
}
{% endschema %}