{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<ul class="compare-card-wrapper product-card-wrapper underline-links-hover">
  <li> 
    <div class="card card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}">
      <div class="card__inner">
         <a href="{{ product.url }}" class="full-unstyled-link">
          <div class="card__media1">
            <div class="media--transparent media--hover-effect">
              <img src="{{ product | image_url: width: 500 }}">
            </div>
          </div>
        </a>
      </div>
    </div>
  </li>
  <li><h3 class="card__heading"><a href="{{ product.url }}" class="full-unstyled-link">{{ product.title }}</a></h3></li>
  <li>{% render 'price' %}</li>
  <li class="product_type"><div class="compare-card-details">{{ 'accessibility.vendor' | t }}</div><div>{{ product.vendor }}</div></li>
  <li class="product_type"><div class="compare-card-details">{{'products.product.sku' | t }}:</div><div class="js-variant-sku">{{ product.selected_or_first_available_variant.sku | default:product.sku }}</div></li>
  <li class="product_type"><div class="compare-card-details">{{'products.product.type' | t }}:</div><div>{{ product.type }}</div></li>
  <li class="product_type"><div class="compare-card-details">{{'products.product.Availability' | t }}:</div><div class="js-variant-availability">{%- if product.available -%}In Stock{%- else -%}Out Of Stock{%- endif -%}</div></li>
  <div class="product-hover">     
    <button type="button" aria-label="Add to compare" class="" button-compare data-product-handle="{{ product.handle }}">
      {%- render 'icon-close' -%}
    </button>
  </div>
</ul>

{% schema %}
  {
    "templates": ["product"]
  }
{% endschema %}