{{ 'component-card.css' | asset_url | stylesheet_tag }}

<div class="main-compare-page grid page-width section-{{ section.id }}-padding" grid-compare></div>
<div class="compare-empty page-width">
  <div class="title-wrapper center">
    <div class="title title--primary h2">
      {{ 'sections.collection_template.empty' | t -}}
    </div>
  </div>
</div>

{% style %}
.compare-empty{
  color: {{ settings.page_title_text_color }};
}
.compare-card-wrapper:has(li .card.card--card){
  background-color: {{ settings.product_card_main_color }};
}
.compare-card-wrapper .theme_main_heading {
  color: {{ settings.theme_heading_color }};
}
.compare-card-wrapper li{
  border: 1px solid {{ settings.border_color }};
}
.main-compare-page .product-hover button{
  background-color: {{ settings.button_bg }};
  color: {{ settings.button_text }};
}
.main-compare-page .product-hover button:hover{
  background-color: {{ settings.button_hr_bg }};
  color: {{ settings.button_hr_text }};
}
.main-compare-page .product_type {
  color: {{ settings.card_product_vendor_color }};
}
.main-compare-page .card__heading a, .product_tile_size_holder, .swatch-anchor{
  color: {{ settings.card_product_title_color }};
}
.main-compare-page .card__heading a:hover{
  color: {{ settings.card_product_title_hr_color }};
}
.main-compare-page .price .price-item--regular {
  color: {{ settings.card_product_sale_price_color }};
}
.main-compare-page .price .price-item--last {
  color: {{ settings.card_product_regular_price_color }};
}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding-top }}px;
  padding-bottom: {{ section.settings.padding-bottom }}px;
}
@media screen and (max-width: 1429px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1429 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
  }
}
@media screen and (max-width: 1199px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-1199 }}px;
    padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
  }
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-991 }}px;
    padding-bottom: {{ section.settings.padding-bottom-991 }}px;
  }
}
@media screen and (max-width: 767px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-767 }}px;
    padding-bottom: {{ section.settings.padding-bottom-767 }}px;
  }
}
@media screen and (max-width: 575px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top-575 }}px;
    padding-bottom: {{ section.settings.padding-bottom-575 }}px; 
  }
}
{% endstyle %}

{% schema %}
  {
    "templates": ["page"],
    "name": "Compare",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 45
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 45
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 35
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 35
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      }
    ]
  }
{% endschema %}