{{ 'shipping-section.css' | asset_url | stylesheet_tag: preload: true }}

<div class="shipping-main-wrapper d-inline-block section-{{ section.id }}-shipping section-{{ section.id }}-padding section-{{ section.id }}-margin {% if section.settings.border_bottom %}border-bottom{% endif %} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width">
    {% if section.settings.heading-img != blank or section.settings.subtitle != blank or section.settings.title != blank or section.settings.description != blank %}
      <div class="service__title title_bottom_margin">
        {% if section.settings.heading-img != blank %}
          <div class="heading-img w-100 {{ section.settings.main_title_alignment }}">
            <img src="{{ section.settings.heading-img | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
          </div>
        {% endif %}
        {%- if section.settings.subtitle != blank -%}
          <div class="theme_main_subheading">{{ section.settings.subtitle }}</div>
        {% endif %}
        {%- if section.settings.title != blank -%}
          <div class="theme_main_heading h2">{{ section.settings.title }}</div>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          <div class="theme_main_description">{{ section.settings.description }}</div>
        {% endif %}
      </div>
    {% endif %}
    <div class="Shipping-inner-row swiper-container"
      data-desktop="{{ section.settings.columns_desktop }}" data-large-tablet="{{ section.settings.columns_large_tablet }}"
      data-tablet="{{ section.settings.columns_tablet }}" data-mobile="{{ section.settings.columns_mobile }}" data-autoplay="{{ section.settings.autoplay_enable }}"
      data-loop="{{ section.settings.loop }}" data-speed="{{ section.settings.speed }}">
      <div class="shipping-trap swiper-wrapper">
        {% for block in section.blocks %}
        {% if block.type == 'shipping' %}
        <div class="shipping-partition swiper-slide ship-{{ block.id }}">
          <div class="shipping-flex ship-flex-{{ block.id }}">
            <div class="shipping-content-specification {{ section.settings.icon_width }}">
              {% if block.settings.shipping_icon != blank %}
                {{ block.settings.shipping_icon | image_url: width: 200 | image_tag : loading: 'lazy', class: 'magniflier w-100' }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {% endif %}
              {% if block.settings.shipping_heading != blank %}
                <div class="shipping-heading-class h2">{{ block.settings.shipping_heading }}</div>
              {% endif %}
              {% if block.settings.shipping_paragraph != blank %}
                <div class="shipping-paragraph-class theme_main_description">{{ block.settings.shipping_paragraph }}</div>
              {% endif %}
            </div>
          </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
      {% if section.settings.arrows %}
        <div class="swiper-buttons">
          <div class="swiper-button-next shipping-swiper-button-next">{% render 'icon-caret' %}</div>
          <div class="swiper-button-prev shipping-swiper-button-prev">{% render 'icon-caret' %}</div>
        </div>
      {% endif %}
      {% if section.settings.dots -%}
        <div class="swiper-pagination shipping-swiper-pagination" id="swiper-pagination-{{section.id}}" style="position: inherit;"></div>
      {% endif %}
    </div>
  </div>
</div>
                  
{% style %}
  {% for block in section.blocks %}
    {% if block.type == 'shipping' %}
       .ship-flex-{{ block.id }} .shipping-content-specification{
        display: inline-block;
        vertical-align: middle;
        text-align: {{ block.settings.shipping_content_alignment }};
      }
      .shipping-partition.ship-{{ block.id }} .shipping-flex {
        text-align: {{ block.settings.shipping_block_alignment }};
      }
    {% endif %}
  {% endfor %}
  .shipping-main-wrapper .swiper-button-next,
  .shipping-main-wrapper .swiper-button-prev{
    background: {{ settings.button_bg }}; 
    color: {{ settings.button_text }};
  }
  .shipping-main-wrapper .swiper-button-next:hover,
  .shipping-main-wrapper .swiper-button-prev:hover{
    background: {{ settings.button_hr_bg }}; 
    color: {{ settings.button_hr_text }};
  }
  .shipping-main-wrapper .swiper-pagination-bullet { 
    background: {{ settings.theme_dots }}; 
  }  
  .shipping-main-wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: {{ settings.theme_dots_active }};
  }
  .shipping-main-wrapper .heading-img.center{
    margin: 0 auto;
  }
  .shipping-main-wrapper .heading-img.right{
    margin: 0 0 0 auto;
  }
  .shipping-main-wrapper .service__title .theme_main_subheading{
    color: {{ section.settings.subheading_color }};
  }
  .shipping-main-wrapper .service__title .theme_main_heading{
    color: {{ section.settings.heading_color }};
  }
  .shipping-main-wrapper .service__title .theme_main_description{
    color: {{ section.settings.content_color }};
  }
  .shipping-main-wrapper .service__title{
    text-align: {{ section.settings.main_title_alignment }};
  }
  .border-bottom{
    border-bottom: 1px solid {{ section.settings.border_color }};
  }
  .shipping-main-wrapper{
    background-color: {{section.settings.section_bg}};
  }
  .shipping-heading-class{
    color: {{ section.settings.heading_text_color }};
  }
  .shipping-paragraph-class{
    color: {{ section.settings.content_text_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Shipping section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Main title setting"
    },
    {
      "type" : "image_picker",
      "id" : "heading-img",
      "label" : "Heading image"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:sections.featured-collection.settings.subheading.label",
      "default": "Text about your branding"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.multicolumn.settings.title.label",
      "default": "Featured collection"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label",
      "default": "Pair text with an image to focus on your brand and description of your brand."
    },
    {
      "type": "select",
      "id": "main_title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.social_media_collage.settings.left"
        },
        {
          "value": "center",
          "label": "t:sections.social_media_collage.settings.center"
        },
        {
          "value": "right",
          "label": "t:sections.social_media_collage.settings.right"
        }
      ],
      "default": "left",
      "label": "t:sections.social_media_collage.settings.main_title_alignment"
    },
    {
      "type": "header",
      "content": "Service slider setting"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "t:sections.social_media_collage.settings.enable_border",
      "default": true
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "columns_large_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Number of columns on large tablet"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "Number of columns on tablet"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enable",
      "label": "Autoplay enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable navigation arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Enable pagination dots",
      "default": false
    },
    {
      "type": "text",
      "id": "speed",
      "label": "Slide speed",
      "default": "500"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Enable loop",
      "default": false
    },
    {
      "type": "header",
      "content": "Service icon setting"
    },
    {
      "type": "select",
      "id": "icon_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "label": "Service icon width",
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:sections.social_media_collage.settings.color_setting"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "t:sections.social_media_collage.settings.section_background",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Main title color"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "t:sections.social_media_collage.settings.subheading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.social_media_collage.settings.heading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "Service content color"
    },
    {
      "type": "color",
      "id": "heading_text_color",
      "label": "t:sections.social_media_collage.settings.heading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "content_text_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:sections.social_media_collage.settings.border_color",
      "default": "#e5e5e5"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "shipping",
      "name": "t:sections.social_media_collage.settings.service",
      "settings": [
        {
          "type": "image_picker",
          "id": "shipping_icon",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "textarea",
          "id": "shipping_heading",
          "default": "Shipping heading",
          "label": "t:sections.featured-collection.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "shipping_paragraph",
          "default": "Shipping content",
          "label": "t:sections.featured-collection.settings.description.label"
        },
        {
          "type": "select",
          "id": "shipping_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.social_media_collage.settings.left"
            },
            {
              "value": "center",
              "label": "t:sections.social_media_collage.settings.center"
            },
            {
              "value": "right",
              "label": "t:sections.social_media_collage.settings.right"
            }
          ],
          "default": "left",
          "label": "t:sections.social_media_collage.settings.content_alignment"
        },
        {
          "type": "select",
          "id": "shipping_block_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.social_media_collage.settings.left"
            },
            {
              "value": "center",
              "label": "t:sections.social_media_collage.settings.center"
            },
            {
              "value": "right",
              "label": "t:sections.social_media_collage.settings.right"
            }
          ],
          "default": "left",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shipping section",
      "blocks": [
        {
          "type": "shipping"
        },
        {
          "type": "shipping"
        },
        {
          "type": "shipping"
        },
        {
          "type": "shipping"
        }
      ]
    }
  ]
}
{% endschema %}