{{ 'side-widget.css' | asset_url | stylesheet_tag }}

{% if section.settings.widget-enable %}
<div class="main-side-widget-bar {{ section.settings.position }}">
  <div class="main-side-widget-bar-wrapper">
    {% if section.settings.show_wishlist %}
      <div class="main-side-widget-item wishlist">
        <a class="main-side-widget-item-icon header__icon cm-wishlist-icon js-popup-button" href="/pages/wishlist" data-js-information-input="wishlist" data-js-popup-button="wishlist-full">
          {%- render 'icon-wishlist' -%}<div class="count-bubble" data-js-wishlist-count="0">0</div>
        </a>
      </div>
    {% endif %}
    {% if section.settings.show_compare %}
      <div class="main-side-widget-item compare">
        <a class="main-side-widget-item-icon header__icon cm-compare-icon js-popup-button" href="/pages/compare" data-js-information-input="compare" data-js-popup-button="compare-full">
          {%- render 'icon-compare' -%}<div class="count-bubble" data-js-compare-count="0">0</div>
        </a>
      </div>
    {% endif %}
      <div class="main-side-widget-item back-to-top" id="back-to-top-button">
        <div class="main-side-widget-item-icon header__icon">
          {% render 'arrow-up' %}
        </div>
      </div>
  </div>
</div>
  <script>
  var btn = document.getElementById('back-to-top-button');
  btn.addEventListener('click', function(e) {
    e.preventDefault();
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>
{% endif %}

{% style %}
.main-side-widget-bar .main-side-widget-item-icon {
  background-color: {{ section.settings.bg_color }};
  color: {{ section.settings.icon_color }};
}
.main-side-widget-bar .main-side-widget-item-icon:hover {
  background-color: {{ section.settings.bg_hr_color }};
  color: {{ section.settings.icon_hr_color }};
}
.main-side-widget-bar .count-bubble{
  background-color: {{ section.settings.icon_color }};
  color: {{ section.settings.bg_color }};
}
.main-side-widget-bar .main-side-widget-item-icon:hover .count-bubble{
  background-color: {{ section.settings.icon_hr_color }};
  color: {{ section.settings.bg_hr_color }};
}
.main-side-widget-item.compare .main-side-widget-item-icon{
  border-top: 1px solid {{ section.settings.border_color }};
  border-bottom: 1px solid {{ section.settings.border_color }}
}
.main-side-widget-item.compare .main-side-widget-item-icon:hover{
  border-top: 1px solid {{ section.settings.border_color }};
  border-bottom: 1px solid {{ section.settings.border_color }}
}
.main-side-widget-bar-wrapper{
  border: 1px solid {{ section.settings.border_color }};
}
{% endstyle %}

{% schema %}
{
  "name": "Side widget",
  "settings": [
    {
      "type": "checkbox",
      "id": "widget-enable",
      "label": "Widget enable",
      "default": true
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_compare",
      "label": "Show compare",
      "default": true
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "bg_hr_color",
      "label": "Background hover color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "icon_hr_color",
      "label": "Icon hover color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#333333"
    }
  ],
  "presets": [
    {
      "name": "Side widget",
      "category": "Side widget"
    }
  ]
}
{% endschema %}
