{{ 'section-tabs-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if settings.p_enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .tab_collection-slider .swiper-button-next,
  .tab_collection-slider .swiper-button-prev{
    background: {{ settings.button_bg }}; 
    color: {{ settings.button_text }};
  }
  .tab_collection-slider .swiper-button-next:hover,
  .tab_collection-slider .swiper-button-prev:hover{
    background: {{ settings.button_hr_bg }}; 
    color: {{ settings.button_hr_text }};
  }
  .tab_collection-slider .swiper-pagination-bullet { 
    background: {{ settings.theme_dots }}; 
  }  
  .tab_collection-slider .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: {{ settings.theme_dots_active }};
  }
  .tab_collection-slider .quantity:after{
    border: 1px solid {{ settings.q_button_border }};
  }
  .tab_collection-slider .quantity__input{
    color: {{ settings.q_button_color }};
  }
  .tab_collection-slider .quantity__button{
    background-color: {{ settings.q_button_bg }} !important;
    color: {{ settings.q_button_color }};
  }
  .tab_collection-slider .quantity__button:hover{
    background-color: {{ settings.q_button_hr_bg }} !important;
    color: {{ settings.q_button_hr_color }};
  }
  .tab_collection-slider .collection{
    background-color: {{ section.settings.section_bg }};
  }
  .tab_collection-slider .collection__title {
    text-align: {{ section.settings.main_title_alignment }};
  }
  .tab_collection-slider .tab-product-collection ul.tabs {
    justify-content: {{ section.settings.main_title_alignment }};
  }
  .tab_collection-slider .featured-collection-subtitle{
    color: {{ section.settings.subheading_color }};
  }
  .tab_collection-slider .featured-collection-title{
    color: {{ section.settings.heading_color }};
  }
  .tab_collection-slider .featured-collection-description{
    color: {{ section.settings.content_color }};
  }
  .tab_collection-slider .featured_collection-button{
    background-color: {{ settings.button_bg }};
    color: {{ settings.button_text }};
  }
  .tab_collection-slider .featured_collection-button:hover{
    background-color: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .tab_collection-slider .product-card-wrapper .product_vendor {
    color: {{ settings.card_product_vendor_color }};
  }
  .tab_collection-slider .product-card-wrapper .card__heading a, .product_tile_size_holder, .swatch-anchor{
    color: {{ settings.card_product_title_color }};
  }
  .tab_collection-slider .product-card-wrapper .card__heading a:hover{
    color: {{ settings.card_product_title_hr_color }};
  }
  .tab_collection-slider .product-card-wrapper .price .price-item--regular {
    color: {{ settings.card_product_sale_price_color }};
  }
  .tab_collection-slider .product-card-wrapper .price .price-item--last {
    color: {{ settings.card_product_regular_price_color }};
  }
  .tab_collection-slider .quick-add__submit,
  .tab_collection-slider .product-hover button{
    background-color: {{ settings.card_button_bg }};
    color: {{ settings.card_button_text }};
  }
  .tab_collection-slider .quick-add__submit:hover,
  .tab_collection-slider .product-hover button:hover{
    background-color: {{ settings.card_button_hr_bg }};
    color: {{ settings.card_button_hr_text }};
  }
  .tab_collection-slider .product-hover .active .icon.icon-wishlist,
  .tab_collection-slider .product-hover .active .icon.icon-compare{
    fill: {{ settings.card_button_text }};
    color: {{ settings.card_button_text }};
  }
  .tab_collection-slider .product-hover button:hover.active .icon.icon-wishlist,
  .tab_collection-slider .product-hover button:hover.active .icon.icon-compare{
    fill: {{ settings.card_button_hr_text }};
    color: {{ settings.card_button_hr_text }};
  }
  .tab_collection-slider .tab-product-collection ul.tabs li a.active {
    background-color: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .tab_collection-slider .tab-product-collection ul.tabs li a {
    background-color: {{ settings.button_bg }};
    color: {{ settings.button_text }};
  }
  .tab_collection-slider .tab-product-collection ul.tabs li a:hover {
    background-color: {{ settings.button_hr_bg }};
    color: {{ settings.button_hr_text }};
  }
  .tab_collection-slider .countdown-timer .main-c-motel{
    background-color: {{ settings.countdown_bg }};
    color: {{ settings.countdown_text }};
  }
  .tab_collection-slider .heading-img.center{
    margin: 0 auto;
  }
  .tab_collection-slider .heading-img.right{
    margin: 0 0 0 auto;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{%- endstyle -%}

{% assign show_desktop_slider = false %}

{% for block in section.blocks %}
  {% if block.type == 'tabination' %}
    {%- assign products_to_display = block.settings.tab_product.all_products_count %}

    {% if block.settings.tab_product.all_products_count > section.settings.products_to_show %}
      {%- assign products_to_display = section.settings.products_to_show %}
      {%- assign more_in_collection = true %}
    {% endif %}

    {%- if section.settings.enable_desktop_slider and products_to_display >= section.settings.columns_desktop %}
      {%- assign show_desktop_slider = true %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="tab_collection-slider isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="collection tab-product-collection d-inline-block section-{{ section.id }}-padding">
    <div class="collection__title title_bottom_margin title-wrapper title-wrapper--no-top-margin {{ section.settings.section_width }}">
      {% if section.settings.heading-img != blank or section.settings.collections_subtitle != blank or section.settings.collections_title != blank or section.settings.collections_description != blank %}
        {% if section.settings.heading-img != blank %}
          <div class="heading-img w-100 {{ section.settings.main_title_alignment }}">
            <img src="{{ section.settings.heading-img | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
          </div>
        {% endif %}
        {% if section.settings.collections_subtitle != blank %}
          <div class="featured-collection-subtitle theme_main_subheading">{{ section.settings.collections_subtitle }}</div>
        {% endif %}
        {%- if section.settings.collections_title != blank -%}
          <div class="featured-collection-title theme_main_heading h2 inline-richtext">{{ section.settings.collections_title }}</div>
        {%- endif -%}
        {% if section.settings.collections_description != blank %}
          <div class="featured-collection-description theme_main_description">{{ section.settings.collections_description }}</div>
        {% endif %}
        <div class="tab-collection-main">
          <ul class="tabs">
            {% for block in section.blocks %}
              {% case block.type %}
              {% when 'tabination' %}
              {% assign category_product = collections[block.settings.tab_product] %}
              {% if block.settings.tab_product != blank %}
              <li>
                {% if block.settings.tab_name == blank %}
                  <a href="#tab--{{ forloop.index }}" class="{% if forloop.first == true %}active{% endif %}" aria-label="{{ category_product.title }}">{{ category_product.title }}</a>
                {% else %}
                  <a href="#tab--{{ forloop.index }}" class="{% if forloop.first == true %}active{% endif %}" aria-label="{{ block.settings.tab_name }}">{{ block.settings.tab_name }}</a>
                {% endif %}
              </li>
              {% else %}
              <li>
                <a href="#tab--{{ forloop.index }}" class="{% if forloop.first == true %}active{% endif %}" aria-label="{{ 'sections.tabs_collection.collection_name' | t }}">{{ 'sections.tabs_collection.collection_name' | t }}</a>
              </li>
              {% endif %}
              {% endcase %}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    

    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'tabination' %}
        <div id="tab--{{ forloop.index }}" class="product-collection-tab-grid" {% if forloop.first %} style="display: block;"{% else %} style="display: none;"{% endif %}>
          <slider-component class="{% if section.settings.enable_desktop_slider == true %}swiper-container tab-slider{% endif %} {{ section.settings.section_width }}"
            data-enable="{{ section.settings.enable_desktop_slider }}"
            data-desktop="{{ section.settings.columns_desktop }}" data-largetablet="{{ section.settings.columns_large_tablet }}"
            data-tablet="{{ section.settings.columns_tablet }}" data-mobile="{{ section.settings.columns_mobile }}" data-autoplay="{{ section.settings.autoplay_enable }}"
            data-loop="{{ section.settings.loop }}" data-speed="{{ section.settings.speed }}" data-desktopspace="{{ settings.spacing_grid_horizontal }}" data-mobilespace="{{ settings.spacing_grid_horizontal | divided_by: 2 }}">
            <ul
              id="Slider-{{ section.id }}"
              class="{% if section.settings.enable_desktop_slider == true %}swiper-wrapper{% endif %} product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %}
              {% if section.settings.enable_desktop_slider == false %}grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_large_tablet }}-col-large-tab grid--{{ section.settings.columns_tablet }}-col-tab grid--{{ section.settings.columns_mobile }}-col-mobile{% endif %}"
              role="list"
              aria-label="{{ 'general.slider.name' | t }}"
            >
              {%- for product in block.settings.tab_product.products limit: section.settings.products_to_show -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="{% if section.settings.enable_desktop_slider == false %}grid__item{% endif %} {% if section.settings.enable_desktop_slider == true %}swiper-slide{% endif %}"
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: settings.p_image_ratio,
                    image_shape: settings.p_image_shape,
                    show_secondary_image: settings.p_show_secondary_image,
                    show_vendor: settings.p_show_vendor,
                    show_badge: settings.show_badge,
                    show_rating: settings.p_show_rating,
                    show_quick_add: settings.p_enable_quick_add,
                    quantity_enable: settings.p_quantity_enable,
                    enable_product_variants: settings.p_variants_enable,
                    section_id: section.id
                  %}
                </li>
              {%- else -%}
                {%- for i in (1..6) -%}
                  <li
                    class="{% if section.settings.enable_desktop_slider == false %}grid__item{% endif %} {% if section.settings.enable_desktop_slider == true %}swiper-slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  >
                    {%- assign placeholder_image = 'product-' | append: forloop.rindex -%}
                    {% render 'card-product',
                      show_vendor: settings.p_show_vendor,
                      placeholder_image: placeholder_image
                    %}
                  </li>
                {%- endfor -%}
              {%- endfor -%}
            </ul>
            {% if section.settings.arrows and section.settings.enable_desktop_slider %}
            <div class="swiper-buttons">
              <div class="swiper-button-next tab-swiper-button-next">{% render 'icon-caret' %}</div>
              <div class="swiper-button-prev tab-swiper-button-prev">{% render 'icon-caret' %}</div>
            </div>
          {% endif %}
          {% if section.settings.dots and section.settings.enable_desktop_slider -%}
            <div class="swiper-pagination tab-swiper-pagination" id="swiper-pagination-{{section.id}}" style="position: inherit;"></div>
          {% endif %}
            {%- if section.settings.show_view_all and more_in_collection -%}
              <div class="center collection__view-all">
                <a
                  href="{{ block.settings.tab_product.url }}"
                  class="button featured_collection-button"
                  aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: block.settings.tab_product.title }}"
                >
                  {{ 'sections.featured_collection.view_all' | t }}
                </a>
              </div>
            {%- endif -%}
          </slider-component>
        </div>
      {% endcase %}
    {% endfor %}
    {% if settings.p_image_shape == 'arch' %}
      {% render 'mask-arch' %}
    {%- endif -%}
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  // Set the initial active tab
  var activeTab = document.querySelector('.tabs li a.active').getAttribute('href');
  document.querySelector(activeTab).style.display = 'block';

  // Handle tab clicks
  var tabLinks = document.querySelectorAll('.tabs li a');
  tabLinks.forEach(function(link) {
    link.addEventListener('click', function(e) {
      e.preventDefault();

      // Remove active class from all tabs
      tabLinks.forEach(function(tabLink) {
        tabLink.classList.remove('active');
      });

      // Add active class to the clicked tab
      this.classList.add('active');

      // Show the corresponding tab content and hide others
      var clickedIndex = parseInt(this.getAttribute('href').replace('#tab--', ''));
      var tabContents = document.querySelectorAll('.product-collection-tab-grid');
      tabContents.forEach(function(tab, index) {
        if (index + 1 === clickedIndex) {
          tab.style.display = 'block';
        } else {
          tab.style.display = 'none';
        }
      });
    });
  });
});
</script>

{% schema %}
{
  "name": "t:sections.tabs-collection.name",
  "tag": "section",
  "class": "section tab_collection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "full_width"
    },
    {
      "type" : "image_picker",
      "id" : "heading-img",
      "label" : "Heading image"
    },
    {
      "type": "text",
      "id": "collections_subtitle",
      "label": "t:sections.featured-collection.settings.subheading.label",
      "default": "Text about your branding"
    },
    {
      "type": "textarea",
      "id": "collections_title",
      "label": "t:sections.multicolumn.settings.title.label",
      "default": "Tabs collection"
    },
    {
      "type": "textarea",
      "id": "collections_description",
      "label": "t:sections.featured-collection.settings.description.label",
      "default": "Pair text with an image to focus on your brand and description of your brand."
    },
    {
      "type": "select",
      "id": "main_title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.social_media_collage.settings.left"
        },
        {
          "value": "center",
          "label": "t:sections.social_media_collage.settings.center"
        },
        {
          "value": "right",
          "label": "t:sections.social_media_collage.settings.right"
        }
      ],
      "default": "center",
      "label": "t:sections.social_media_collage.settings.main_title_alignment"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 6,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "columns_large_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Number of columns on large tablet"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "Number of columns on tablet"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enable",
      "label": "Autoplay enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable navigation arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Enable pagination dots",
      "default": false
    },
    {
      "type": "text",
      "id": "speed",
      "label": "Slide speed",
      "default": "500"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Enable loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.social_media_collage.settings.color_setting"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "t:sections.social_media_collage.settings.section_background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "t:sections.social_media_collage.settings.subheading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.social_media_collage.settings.heading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "tabination",
      "name": "t:sections.tabs-collection.blocks.name",
      "limit": 3,
      "settings": [
        {
          "type": "collection",
          "id": "tab_product",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "tab_name",
          "label": "Collection name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.tabs-collection.presets.name",
      "blocks": [
        {
          "type": "tabination"
        },
        {
          "type": "tabination"
        },
        {
          "type": "tabination"
        }
      ]
    }
  ]
}
{% endschema %}