{{ 'tsp.css' | asset_url | stylesheet_tag }}
<div class="terms_and_condition_main">
  <div class="page-width">
    {% if section.settings.show_topimg %}
    <div class="terms_image_wrapper">
      {% if section.settings.terms_top_img != blank %}
      <div class="media media--transparent ratio" style="--ratio-percent: 30%">
        <img src="{{ section.settings.terms_top_img | img_url: 'master' }}" alt="product-image" class="w-100"
          loading="lazy">
      </div>
      {% else %}
      <div class="media media--transparent ratio" style="--ratio-percent: 30%">
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="terms-part">
      {% for block in section.blocks %}
      {%- case block.type -%}
      {%- when 'questions' -%}

      <div class="terms_title h3">
        <div class="terms-icon">
          {% render 'icon-wings' %}
        </div>
        <h3 class="terms-content">
          {{ block.settings.terms_title_text }}
        </h3>
      </div>
      {%- when 'answers' -%}
      <p class="terms_paragraph">{{ block.settings.terms_paragraph_text }}</p>
      {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% style %}
  .terms_title {
    background: {{ section.settings.terms_bg_color }};
    color: {{ section.settings.terms_title_color }};
    fill: {{ section.settings.terms_title_color }};
  }
  .terms_paragraph {
    color: {{ settings.content_color }};
  }
  .terms_and_condition_main {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .terms_and_condition_main {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .terms_and_condition_main {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .terms_and_condition_main {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .terms_and_condition_main {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
    }
  }
  @media screen and (max-width: 575px) {
    .terms_and_condition_main {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px; 
    }
  }
{% endstyle %}

{% schema %}
  {
  "name": "Terms condition",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_topimg",
      "label": "Show top image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "terms_top_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "terms_bg_color",
      "label": "Terms bg color",
      "default": "#f6f4f3"
    },
    {
      "type": "color",
      "id": "terms_title_color",
      "label": "Terms text color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 45
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 45
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 35
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 35
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "questions",
      "name": "Terms title",
      "settings": [
        {
          "type": "text",
          "id": "terms_title_text",
          "default": "Terms and condition title",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "answers",
      "name": "Terms paragraph",
      "settings": [
        {
          "type": "textarea",
          "id": "terms_paragraph_text",
          "label": "Paragraph",
          "default": "Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service."
        }
      ]
    }
  ]
}
{% endschema %}