{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .testimonials .swiper-button-next,
  .testimonials .swiper-button-prev{
    background: {{ settings.button_bg }}; 
    color: {{ settings.button_text }};
  }
  .testimonials .swiper-button-next:hover,
  .testimonials .swiper-button-prev:hover{
    background: {{ settings.button_hr_bg }}; 
    color: {{ settings.button_hr_text }};
  }
  .testimonials .swiper-pagination-bullet { 
    background: {{ settings.theme_dots }}; 
  }  
  .testimonials .swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: {{ settings.theme_dots_active }};
  }
  .testimonial_main_tap{
    background-color: {{ section.settings.section_bg }};
  }
  .testimonial-list-subtitle{
    color: {{ section.settings.subheading_color }};
  }
  .testimonial-list-title{
    color: {{ section.settings.heading_color }};
  }
  .testimonial-list-description{
    color: {{ section.settings.content_color }};
  }
  .testimonials .testimonials-card {
    background-color: {{ section.settings.content_bg_color }};
  }
  .testimonial__title{
    text-align: {{ section.settings.main_title_alignment }};
  }
  .testimonials-list__item--left {
    text-align: left;
  }
  .testimonials-list__item--center {
    text-align: center;
  }
  .testimonials-list__item--right {
    text-align: right;
  }
  .testimonials-list__item--left .testimonial-adition,
  .testimonials-list__item--left .testimonials-card .card:not(.ratio) {
    justify-content: start;
  }
  .testimonials-list__item--center .testimonial-adition,
  .testimonials-list__item--center .testimonials-card .card:not(.ratio) {
    justify-content: center;
  }
  .testimonials-list__item--right .testimonial-adition,
  .testimonials-list__item--right .testimonials-card .card:not(.ratio) {
    justify-content: end;
  }
  .review_description p{
    color: {{ section.settings.review_text_color }};
  }
  .testimonial-ratings svg{
    fill: {{ section.settings.rating_star_color }};
  }
  .author-name-tag .h3, .testi_dash{
    color: {{ section.settings.author_name_color }};
  }
  .author-designation-tag .h3{
    color: {{ section.settings.author_designation_color }};
  }
  .testimonial-quates{
    fill: {{ section.settings.quote_color }};
  }
  .product_to_review {
    border-top: 1px solid {{ section.settings.review_text_color | color_modify: 'alpha', 0.10 }};
  }
  .testimonial_main_tap .heading-img.center{
    margin: 0 auto;
  }
  .testimonial_main_tap .heading-img.right{
    margin: 0 0 0 auto;
  }
  {% if section.settings.bg_img != blank %}
    .testimonial_main_tap{
      background-image: url({% if section.settings.bg_img != blank %} {{ section.settings.bg_img | img_url: 'master' }} {% endif %});
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  {% endif %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{%- endstyle -%}

{%- liquid
  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and section.blocks.size >= section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="testimonials {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="collection testimonial_main_tap d-inline-block section-{{ section.id }}-padding isolate"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {% if section.settings.heading-img != blank or section.settings.t_subtitle != blank or section.settings.t_title != blank or section.settings.t_description != blank %}
      <div class="testimonial__title title_bottom_margin title-wrapper {{ section.settings.section_width }}">
        {% if section.settings.heading-img != blank %}
          <div class="heading-img w-100 {{ section.settings.main_title_alignment }}">
            <img src="{{ section.settings.heading-img | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
          </div>
        {% endif %}
        {% if section.settings.t_subtitle != blank %}
          <div class="testimonial-list-subtitle theme_main_subheading">{{ section.settings.t_subtitle }}</div>
        {% endif %}
        {% if section.settings.t_title != blank %}
          <div class="testimonial-list-title theme_main_heading h2">{{ section.settings.t_title }}</div>
        {% endif %}
        {% if section.settings.t_description != blank %}
          <div class="testimonial-list-description theme_main_description">{{ section.settings.t_description }}</div>
        {% endif %}
      </div>
    {% endif %}
    
    <slider-component class="{{ section.settings.section_width }} swiper-container testimonial-slider"
      data-desktop="{{ section.settings.columns_desktop }}"
      data-tablet="{{ section.settings.columns_tablet }}" data-mobile="{{ section.settings.columns_mobile }}" data-autoplay="{{ section.settings.autoplay_enable }}"
      data-loop="{{ section.settings.loop }}" data-speed="{{ section.settings.speed }}">
      <ul
        class="testimonials-list contains-content-container swiper-wrapper"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="testimonials-list__item testimonials-list__item--{{ section.settings.column_alignment }} swiper-slide"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="testimonials-card content-container column-{{ block.id }}">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="testimonials-card__image-wrapper testimonials-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} testimonials-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'testimonials-card__image'
                    }}
                  </div>
                </div>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="29.000000pt" height="26.000000pt"
                  viewBox="0 0 29.000000 26.000000" preserveAspectRatio="xMidYMid meet" class="testimonial-quates">
                  <g transform="translate(0.000000,26.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path
                      d="M81 205 c-48 -53 -71 -100 -71 -148 0 -38 15 -57 45 -57 49 0 75 77 35 102 -28 18 -25 37 11 92 17 26 29 49 27 52 -3 2 -24 -16 -47 -41z" />
                    <path
                      d="M235 212 c-45 -45 -74 -104 -75 -152 0 -41 14 -60 45 -60 50 0 74 75 34 104 -27 19 -20 53 21 100 42 47 22 54 -25 8z" />
                  </g>
                </svg>
              {%- endif -%}
              <div class="testimonials-card__info">
                {%- if block.settings.text != blank -%}
                  <div class="review_description">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.show_rating -%}
                  <div class="testimonial-ratings">
                    {% if block.settings.first_star %}
                    {% render 'icon-star' %}
                    {% endif %}
                    {% if block.settings.second_star %}
                    {% render 'icon-star' %}
                    {% endif %}
                    {% if block.settings.third_star %}
                    {% render 'icon-star' %}
                    {% endif %}
                    {% if block.settings.fourth_star %}
                    {% render 'icon-star' %}
                    {% endif %}
                    {% if block.settings.half_star == false %}
                    {% if block.settings.fifth_star %}
                    {% render 'icon-star' %}
                    {% endif %}
                    {% else %}
                    {% if block.settings.half_star %}
                    {% render 'icon-half-star' %}
                    {% endif %}
                    {% endif %}
                  </div>
                {%- endif -%}
                <div class="testimonial-adition">
                  {%- if block.settings.author_name != blank -%}
                  <div class="author-name-tag">
                    <div class="h3">{{ block.settings.author_name }}</div>
                  </div>
                  {% endif %}
                  <div class="testi_dash"> - </div>
                  {%- if block.settings.author_designation != blank -%}
                  <div class="author-designation-tag">
                    <div class="h3">{{ block.settings.author_designation }}</div>
                  </div>
                  {% endif %}
                </div>
                {% if block.settings.review_product %}
                  <div class="product_to_review">
                    {% if block.settings.product != blank %}
                    {%- assign product = all_products[block.settings.product] -%}
                    {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    section_id: section.id
                    %}
                    {% else %}
                    <div class="card">
                      <a class="card__inner">
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      </a>
                      <div class="product-collection__content">
                        <div class="product-collection__title h4">
                          <a class="cd">{{ 'onboarding.product_title' | t }}</a>
                        </div>
                        <span class="price price--sale">
                          <span class="current"><span class="money">$.59.00</span></span>
                        </span>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>
      {% if section.settings.arrows%}
        <div class="swiper-buttons">
          <div class="swiper-button-next testimonial-swiper-button-next">{% render 'icon-caret' %}</div>
          <div class="swiper-button-prev testimonial-swiper-button-prev">{% render 'icon-caret' %}</div>
        </div>
      {% endif %}
      {% if section.settings.dots-%}
        <div class="swiper-pagination testimonial-swiper-pagination" id="swiper-pagination-{{section.id}}" style="position: inherit;"></div>
      {% endif %}
      
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "page-width",
          "label": "Page width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "full_width"
   },
   {
      "type" : "image_picker",
      "id" : "heading-img",
      "label" : "Heading image"
    },
    {
      "type": "text",
      "id": "t_subtitle",
      "label": "t:sections.featured-collection.settings.subheading.label",
      "default": "Client review"
    },
    {
      "type": "textarea",
      "id": "t_title",
      "label": "t:sections.multicolumn.settings.title.label",
      "default": "Testimonial"
    },
    {
      "type": "textarea",
      "id": "t_description",
      "label": "t:sections.featured-collection.settings.description.label",
      "default": "Write reviews of your happy clients."
    },
    {
      "type": "select",
      "id": "main_title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.social_media_collage.settings.left"
        },
        {
          "value": "center",
          "label": "t:sections.social_media_collage.settings.center"
        },
        {
          "value": "right",
          "label": "t:sections.social_media_collage.settings.right"
        }
      ],
      "default": "center",
      "label": "t:sections.social_media_collage.settings.main_title_alignment"
    },
    {
      "type" : "image_picker",
      "id" : "bg_img",
      "label" : "Background image",
      "info": "If need image in main background"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.testimonials.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.testimonials.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.testimonials.settings.image_width.options__3.label"
        }
      ],
      "default": "third",
      "label": "t:sections.testimonials.settings.image_width.label",
      "info": "t:sections.testimonials.settings.image_width.info"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.testimonials.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.testimonials.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.testimonials.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.testimonials.settings.image_ratio.options__4.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.multicolumn.settings.image_ratio.label2"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "columns_tablet",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Number of columns on tablet"
    },
    {
      "type": "range",
      "id": "columns_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1,
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enable",
      "label": "Autoplay enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Enable navigation arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Enable pagination dots",
      "default": false
    },
    {
      "type": "text",
      "id": "speed",
      "label": "Slide speed",
      "default": "500"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Enable loop",
      "default": false
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.testimonials.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.testimonials.settings.column_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.testimonials.settings.column_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.social_media_collage.settings.content_alignment"
    },
    {
      "type": "header",
      "content": "t:sections.social_media_collage.settings.color_setting"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "t:sections.social_media_collage.settings.section_background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "t:sections.social_media_collage.settings.subheading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.social_media_collage.settings.heading_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "t:sections.social_media_collage.settings.description_color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "content_bg_color",
      "label": "t:sections.testimonials.settings.content_background",
      "default": "#f3f3f3"
    },
    {
      "type": "color",
      "id": "quote_color",
      "label": "t:sections.testimonials.settings.quotes_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "review_text_color",
      "label": "t:sections.testimonials.settings.review_text_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "rating_star_color",
      "label": "t:sections.testimonials.settings.review_star_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "author_name_color",
      "label": "t:sections.testimonials.settings.author_name_color",
      "default": "#131313"
    },
    {
      "type": "color",
      "id": "author_designation_color",
      "label": "t:sections.testimonials.settings.author_designation_color",
      "default": "#131313"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "number",
      "id": "padding-top",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "number",
      "id": "padding-bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "header",
      "content": "Screen wise section padding"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "padding-top-1429",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "number",
      "id": "padding-bottom-1429",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "padding-top-1199",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "number",
      "id": "padding-bottom-1199",
      "label": "Padding bottom",
      "default": 60
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "padding-top-991",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding-bottom-991",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "padding-top-767",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "number",
      "id": "padding-bottom-767",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "padding-top-575",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "number",
      "id": "padding-bottom-575",
      "label": "Padding bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Margin settings"
    },
    {
      "type": "number",
      "id": "margin-top",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Screen wise section margin"
    },
    {
      "type": "header",
      "content": "@media screen 1429"
    },
    {
      "type": "number",
      "id": "margin-top-1429",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1429",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 1199"
    },
    {
      "type": "number",
      "id": "margin-top-1199",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-1199",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 991"
    },
    {
      "type": "number",
      "id": "margin-top-991",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-991",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 767"
    },
    {
      "type": "number",
      "id": "margin-top-767",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-767",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "@media screen 575"
    },
    {
      "type": "number",
      "id": "margin-top-575",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "number",
      "id": "margin-bottom-575",
      "label": "Margin bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.testimonials.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.column.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "author_name",
          "default": "Name",
          "label": "t:sections.testimonials.blocks.column.settings.name.label"
        },
        {
          "type": "inline_richtext",
          "id": "author_designation",
          "default": "Designation",
          "label": "t:sections.testimonials.blocks.column.settings.designation.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.testimonials.blocks.column.settings.text.label"
        },
        {
          "type": "header",
          "content": "Star rating settings",
          "info": "t:sections.testimonials.settings.rating_notes"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_rating"
        },
        {
          "type": "checkbox",
          "id": "first_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_fi_s"
        },
        {
          "type": "checkbox",
          "id": "second_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_se_s"
        },
        {
          "type": "checkbox",
          "id": "third_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_th_s"
        },
        {
          "type": "checkbox",
          "id": "fourth_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_fo_s"
        },
        {
          "type": "checkbox",
          "id": "fifth_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_ffi_s"
        },
        {
          "type": "checkbox",
          "id": "half_star",
          "default": true,
          "label": "t:sections.testimonials.settings.enable_ha_s"
        },
        {
          "type": "header",
          "content": "t:sections.testimonials.settings.review_pro_setting"
        },
        {
          "type": "checkbox",
          "id": "review_product",
          "label": "t:sections.testimonials.settings.enable_product",
          "default": true
        },
        {
          "type": "product",
          "label": "t:sections.testimonials.settings.product",
          "id": "product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
